{{!-- A Spaces view: sidebar with spaces list and content (if fit to screen) --}}

{{!-- Secondary sidebar --}}
<nav class="secondary-sidebar">
  <div class="secondary-sidebar-header">
    {{data-spaces-select spaces=model goToDataSpace="goToDataSpace"}}
  </div>
  {{outlet "data-space"}}
</nav>

<div id="content-scroll">
  {{outlet "dir"}}
</div>
