{{outlet 'modal'}}
<div id="content-scroll">
  <div class="container-fluid">
    {{file-list model=model store=store modalAction='modalAction'
      createNewFileAction='createNewFile'}}
  </div>
</div>
