{{outlet 'modal'}}
<div id="content-scroll">
  <div class="container-fluid">
    {{!-- TODO VFS-1508: where is defined "store" for template? --}}
    {{file-list model=model store=store modalAction='modalAction'
      createNewFileAction='createNewFile'}}
  </div>
</div>
