{{outlet 'modal'}}
<div class="container" style="margin-top: 100px;">
  {{!-- TODO VFS-1508: where is defined "store" for template? --}}
  {{file-list model=model store=store modalAction='modalAction'
    createNewFileAction='createNewFile'}}
</div>
