{{!-- A Spaces view: sidebar with spaces list and content (if fit to screen) --}}
{{page-title (t 'spaces.title')}}

{{!-- Secondary sidebar --}}
<nav class="secondary-sidebar">
  {{spaces-menu spaces=model
    showSpaceOptions='goToSpace' showUsersConfig='goToUsers' showGroupsConfig='goToGroups'}}
</nav>

<div id='content-scroll'>
  {{outlet}}
</div>
