{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "appmock", "1",
        [
            kernel,
            stdlib,
            xmerl,
            sasl,
            public_key,
            crypto,
            ssl,
            ssl2,
            meck,
            % All ctool deps will be included in the release package,
            % so there is no need to list them here.
            ctool,
            % n2o is a ctool dep, but it is not listed in ctool.app.src,
            % which requires this line to include it in the package (but not start it)
            {n2o, load},
            appmock
        ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "appmock"},
    {profile, embedded},
    {incl_cond, derived},
    {mod_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, appmock, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, compiler, [{mod_cond, all}]}
]}.

{target_dir, "appmock"}.

{overlay, [
    {mkdir, "log"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/appmock", "bin/appmock"},
    {copy, "files/appmock.cmd", "bin/appmock.cmd"},
    {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
    {copy, "sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},

    % Some certificates for cowboy https listener
    {copy, "../cacerts", "cacerts"},
    % Copy the main hrl (needed for compiling)
    {copy, "../include/appmock.hrl", "appmock.hrl"}
]}.
