[
 %% kernel config for ccm distributed application
 {{ccm_dist_config}}

 %% SASL config
 {sasl, [{sasl_error_logger, false}]},
		
%% logger configuration
 {lager, [
    {handlers, [
	  %% show info level or higher level logs at console
      {lager_console_backend, info},
      {lager_file_backend, [
		%% rotate error log once a month (first day of month, 1 a.m) or when it reaches 1 GB; keep 1000 rotated logs
        {"log/error.log", error, 1048576000, "$M1D1", 1000},
		%% rotate info log once a week (friday at 11 p.m) or when it reaches 100 MB; keep 100 rotated logs
        {"log/info.log", info, 104857600, "$W5D23", 100},
		%% rotate info log once a day (at midnight) or when it reaches 10 MB; keep 10 rotated logs
		{"log/debug.log", debug, 10485760, "$D0", 10}
      ]}
    ]}
  ]}
].

