.git
.settings
.eunit
.dialyzer.plt
.idea
.rebar
rebar3.crashdump

*.iml
*.sublime*
*.beam
*.pyc
*.o
*.d

/cluster_manager
/priv
/_build
/package

rel/files/vm.args
rel/vars.config

/test/eunit_results
/test_distributed/logs
!/test_distributed/logs/.gitkeep
/test_distributed/cover_tmp.spec
test_coverage

# OS X
.DS_Store
._*
