[submodule "veilprotocol"]
	path = veilprotocol
	url = ssh://git@git.plgrid.pl:7999/VFS/veilprotocol.git
[submodule "veilhelpers"]
	path = veilhelpers
	url = ssh://git@git.plgrid.pl:7999/vfs/veilhelpers.git
[submodule "bigcouchdb"]
	path = bigcouchdb
	url = ssh://git@git.plgrid.pl:7999/vfs/bigcouchdb.git
