.git
.settings
.eunit
.dialyzer.plt
.idea

include/proto/oneclient/*.hrl
include/proto/oneproxy/*.hrl

src/gui_static/common
src/gui_static/flatui
src/gui_static/fonts
src/gui_static/n2o
src/proto/oneclient/*.erl
src/proto/oneproxy/*.erl

*.iml
*.sublime*

rel/oneprovider_node
rel/test_cluster
rel/*.rpm

test/eunit_results

deps
doc
logs
ebin
distributed_tests_out

c_lib
c_src/helpers_nif/*.o
c_src/rt_container/*.o
c_src/oneproxy/build/*

docs/_build/
