.git
.settings
.eunit
.dialyzer.plt
.idea
.rebar

cluster_manager
src/gui_static/common
src/gui_static/flatui
src/gui_static/fonts
src/gui_static/n2o

*.iml
*.sublime*
*.beam
*.pyc
*.o
*.d

rel/op_worker
rel/test_cluster
rel/*.rpm

test/eunit_results
test_distributed/cover_tmp.spec
test_coverage

deps
doc
logs
ebin
priv
.rebar

c_lib
c_src/helpers_nif/*.o
c_src/rt_container/*.o
c_src/oneproxy/build/*

docs/_build/

# OS X
.DS_Store
._*
