# Used when specific branch for given repo does not exist.
default: release/21.02.0-alpha1

branches:
  # Specification of branches from which sources for components will be pulled.
  oz-worker: current_branch
  op-worker: current_branch
  onepanel: current_branch
