# Used when specific branch for given repo does not exist.
default: release/20.02.17

images:
  # Specification of branches from which docker images will be pulled.
  onezone: current_branch
  oneprovider: current_branch

sources:
  # Specification of branches from which sources for components will be pulled.
  oz-worker: current_branch
  op-worker: current_branch
  onepanel: current_branch
