%%
%% Packaging
%%
{package_name, "op-worker"}.
{package_install_name, "op_worker"}.
{package_install_user, "op_worker"}.
{package_runner_user, "root"}.
{package_install_group, "onedata"}.
{package_install_user_desc, "op_worker user"}.
{package_shortdesc, "oneprovider worker node"}.
{package_desc, "The worker node of oneprovider cluster providing storage resources, part of onedata project"}.
{package_commands, {list, [[{name, "op_worker"}]]}}.
{package_patch_dir, "onedata-patches"}.
{bin_or_sbin, "sbin"}.
{license_type, "MIT"}.
{copyright, "2016 ACK CYFRONET AGH"}.
{vendor_name, "onedata"}.
{vendor_url, "https://onedata.org"}.
{vendor_contact_name, "Onedata Package Maintainer"}.
{vendor_contact_email, "support@onedata.org"}.
{license_full_text,
    "Permission is hereby granted, free of charge, to any person\n"
    "obtaining a copy of this software and associated documentation\n"
    "files (the \"Software\"), to deal in the Software without\n"
    "restriction, including without limitation the rights to use, copy,\n"
    "modify, merge, publish, distribute, sublicense, and/or sell copies\n"
    "of the Software, and to permit persons to whom the Software is\n"
    "furnished to do so, subject to the following conditions:\n"
    "\n"
    "The above copyright notice and this permission notice shall be\n"
    "included in all copies or substantial portions of the Software.\n"
    "\n"
    "THE SOFTWARE IS PROVIDED \"AS IS\" WITHOUT WARRANTY OF ANY KIND,\n"
    "EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF\n"
    "MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND\n"
    "NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT\n"
    "HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,\n"
    "WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING\n"
    "FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR\n"
    "OTHER DEALINGS IN THE SOFTWARE."}.
{rpm_build_requires,
    ", automake"
    ", aws-sdk-cpp"
    ", bc"
    ", boost-devel >= 1.58.0"
    ", botan-devel >= 1.10.0"
    ", cmake >= 3.0.0"
    ", erlang-common_test >= 18.0"
    ", erlang-edoc >= 18.0"
    ", erlang-erl_interface >= 18.0"
    ", erlang-eunit >= 18.0"
    ", erlang-parsetools >= 18.0"
    ", erlang-reltool >= 18.0"
    ", erlang-xmerl >= 18.0"
    ", fuse-devel >= 2.7"
    ", gcc-c++ >= 4.9.0"
    ", git"
    ", glog-devel >= 0.3.4"
    ", golang"
    ", libcurl-devel"
    ", librados2-devel"
    ", libsodium-devel"
    ", libtool"
    ", libtool-ltdl-devel"
    ", ninja-build"
    ", protobuf-compiler >= 2.6.0"
    ", protobuf-devel >= 2.6.0"
    ", python"
    ", python-devel"
    ", poco-devel"
    ", poco-foundation"
    ", poco-netssl"
    ", poco-util"
    ", poco-xml"
    ", swift-sdk-cpp"
    ", rrdtool"
    ", tar"
    ", tbb-devel >= 4.3~"
    ", wget"}.
{rpm_build,
    "export PATH=$PATH:$RPM_BUILD_DIR/node/bin"}.
{deb_build_depends,
    "automake"
    ", aws-sdk-cpp"
    ", bc"
    ", cmake (>= 3.0.0)"
    ", erlang (>= 18.0)"
    ", erlang-src (>= 18.0)"
    ", libcurl4-openssl-dev"
    ", libfuse-dev (>= 2.7)"
    ", libssl-dev"
    ", g++ (>= 4.9.0)"
    ", git"
    ", golang-go"
    ", libboost-filesystem1.58-dev"
    ", libboost-program-options1.58-dev"
    ", libboost-python1.58-dev"
    ", libboost-random1.58-dev"
    ", libboost-system1.58-dev"
    ", libboost-thread1.58-dev"
    ", libbotan1.10-dev"
    ", libgoogle-glog-dev (>= 0.3.4)"
    ", libltdl-dev"
    ", libpoco-dev"
    ", libpocofoundation9v5"
    ", libpoconetssl9v5"
    ", libpocoutil9v5"
    ", libpocoxml9v5"
    ", libprotobuf-dev (>= 2.6.0)"
    ", libprotoc-dev (>= 2.6.0)"
    ", librados-dev"
    ", libsodium-dev"
    ", libtool"
    ", ninja-build"
    ", pkg-config"
    ", protobuf-compiler (>= 2.6.0)"
    ", python"
    ", rrdtool"
    ", ssh"
    ", swift-sdk-cpp"
    ", librados-dev"
    ", libtbb-dev (>= 4.3~)"
    ", wget"}.
