%% behaviours should be compiled before other files
{erl_first_files, ["src/veil_modules/worker_plugin_behaviour.erl"]}.

%% directory for releases
{sub_dirs, ["releases"]}.

%% options for documentation tool
{edoc_opts, [no_packages]}.

%% deps options
{deps, [
    {meck, ".*", {git, "https://github.com/eproxus/meck.git"}}
]}.