%% directory for releases
{sub_dirs, ["rel"]}.

%% to include deps headers
{lib_dirs, ["deps"]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "../test/eunit_results"}]}}]}.

%% Test coverage
{cover_enabled, true}.

%% deps options
{deps, [
    {ctool,".*", {git, "ssh://git@git.plgrid.pl:7999/vfs/ctool.git", {tag, "4ccc985a811"}}},
    {meck, "0.8.2", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
    {protobuffs, "0.8.1p4", {git, "https://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p4"}}},
    {gen_server_mock, ".*", {git, "git://github.com/brucexin/gen_server_mock.git", {tag, "de3cd8e"}}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.8.0"}}},
    {basho_bench, ".*", {git, "git://github.com/RoXeon/basho_bench.git", {tag, "e385af2"}}, [raw]},
    {websocket_client, ".*", {git, "git://github.com/RoXeon/websocket_client", {tag, "c8a2554"}}},
    {dao,".*", {git, "ssh://git@git.plgrid.pl:7999/vfs/dao.git", {tag, "b73fd9dc4d5"}}},
    {prproto, ".*", {git, "ssh://git@git.plgrid.pl:7999/vfs/prproto.git", {tag, "7dcec4ea3ba"}}, [raw]}
]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    {eunit, "epmd -daemon"} %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
]}.

%% Cleanup
{clean_files, ["test/eunit_results", "distributed_tests_out"]}.

%% Erlang options, defines
{erl_opts, []}.
%% Add the tuple below to erl_opts proplist to turn on lager parse transform (this is not needed as long as ctool logger is used)
%% {parse_transform, lager_transform}
%% Add the tuple below to erl_opts proplist to completely turn off debug messages
%% {d, skip_debug}

% Options for erlyDTL (templates for GUI)
{erlydtl_opts, [
    {out_dir, "ebin"}
]}.
