%% behaviours should be compiled before other files
{erl_first_files, [
    "src/client/mock_app_description_behaviour.erl"
]}.

%% Release dir
{sub_dirs, ["rel"]}.

%% to include deps headers
{lib_dirs, ["deps"]}.

{deps, [
    {ctool, "3.0.0-beta3", {git, "${ONEDATA_GIT_URL}/ctool.git", {tag, "54e7d9760c9"}}}
]}.
