{{!-- TODO: move on... events to file-upload.js --}}
{{!-- TODO: translations --}}
{{!-- TODO: styles --}}

<div class="panel file-upload-panel">
  <div class="panel-heading">
    {{!-- TODO: count --}}
    {{t 'components.fileUpload.titleUpload' count='1'}}
  </div>
  <div class="panel-body">
    <ul class="resumable-list"></ul>
    <div class="resumable-progress">
      <table>
        <tr>
          <td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
          <td class="progress-text" nowrap="nowrap"></td>
          {{!-- TODO: buttons, cancel etc. --}}
        </tr>
      </table>
    </div>
  </div>
</div>
