<ul>
  <div class="small-logo"></div>
  {{#each menuItems as |menuItem|}}
    {{#unless menuItem.disabled}}
      <li>
        <a id="main-{{mainPage.name}}" {{action 'activateItem' menuItem.name}}>
          <figure>
            {{icon menuItem.icon}}
            <figcaption>{{t menuItem.titleI18n}}</figcaption>
          </figure>
        </a>
      </li>
    {{/unless}}
  {{/each}}
</ul>
