<ul class="submenu">

    {{#each items as |item|}}
      <li class="{{item.type}}-permissions">
        <div {{action 'changeActiveOption' item.type}}
          class="secondary-sidebar-item">
          <span class="item-icon">
            {{icon item.icon 'space-color'}}
          </span>
          <span class="item-label">
            {{item.label}}
          </span>
        </div>
      </li>
    {{/each}}

</ul>
