{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "oneprovider_ccm", "1.0.0", % version will be overwritten during rebar release generation
        [
            kernel,
            stdlib,
            sasl,
            lager,
            ctool,
            oneprovider_ccm
        ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "oneprovider_ccm"},
    {profile, embedded},
    {incl_cond, derived},
    {mod_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, oneprovider_ccm, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, compiler, [{mod_cond, all}]}
]}.

{target_dir, "oneprovider_ccm"}.

{overlay_vars, "vars.config"}.

{overlay, [
    %% Copy base files for starting and interacting w/ node
    {copy, "../deps/node_package/priv/base/erl", "{{erts_vsn}}/bin/erl"},
    {copy, "../deps/node_package/priv/base/nodetool", "{{erts_vsn}}/bin/nodetool"},
    {template, "../deps/node_package/priv/base/runner", "bin/oneprovider_ccm"},
    {template, "../deps/node_package/priv/base/env.sh", "lib/env.sh"},

    {copy, "sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},

    {copy, "../LICENSE.txt", "./"}
]}.
