{deps, [
    {gpb, ".*", {git, "https://github.com/onedata/gpb.git", {tag, "b3b7d60"}}}
]}.

{erl_opts, [
    fail_on_warning
]}.

{pre_hooks, [
    {compile, "mkdir -p build priv include"},
    {compile, "sh -c 'if [ -x ./deps/gpb/bin/protoc-erl ]; then"
    "   PROTOCERL=./deps/gpb/bin/protoc-erl;"
    " else"
    "   PROTOCERL=../gpb/bin/protoc-erl;"
    " fi;"
    " if [ ! -f include/messages.hrl ]; then"
    "     $PROTOCERL -il -strbin -nif -I`pwd`/proto -o-erl src -o-hrl include"
    "                -o-nif-cc build `pwd`/proto/messages.proto;"
    " fi'"},
    {compile, "sh -c 'cd build && "
    "LDFLAGS= CFLAGS= CXXFLAGS= cmake .. -GNinja -Wno-dev"
    "         -DCMAKE_BUILD_TYPE=Release"
    "         -DCMAKE_CXX_FLAGS=\"$ERL_CFLAGS\""
    "         -DCMAKE_POSITION_INDEPENDENT_CODE=On"
    "         -DBUILD_NIF_LIBS=On'"},
    {compile, "cmake --build build --target messages.nif"},
    {compile, "cp build/messages.nif.so priv/"}
]}.

{post_hooks, [
    {clean,
        "sh -c 'for file in proto/*.proto; "
        "do "
        "  rm -f src/$(basename $file .proto).erl; "
        "  rm -f include/$(basename $file .proto).hrl; "
        "done'"
    }
]}.

{clean_files, [
    "build",
    "priv/*.so",
    "include"
]}.
