$responsive-multiplier: 0.8;

$secondary-sidebar-width: 252px;
$secondary-sidebar-font-size: 12pt;
$secondary-sidebar-icon-font-size: 34px;

$table-font-size: 12pt !default;
$table-checkbox-size: 15pt !default;
