$top-bar-height: 56px;
$content-padding: 0;
$secondary-sidebar-width: 202px;
$secondary-sidebar-font-size: 10pt;
$secondary-sidebar-icon-font-size: 14pt;

$table-font-size: 10pt !default;
$responsive-multiplier: 0.5;
