{{#modal-dialog title='Create new directory' ok='createNewDir' close='hideModal'}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            {{input
            type='text'
            class='modal-textbox'
            id='new-dir-name'
            placeholder='Directory name'
            value=newFileName
            autofocus='autofocus'}}
        </div>
    </form>
{{/modal-dialog}}