#perms_wrapper {
    position: relative;
    text-align: center;
}

#perms_header {
    line-height: 33px;
    height: 33px;
    vertical-align: middle;
    margin-bottom: 10px;
}

#perms_header_info {
    display: inline-block;
}

#perms_radios {
    display: inline-block;
}

.perms-radio-label {
    margin-left: 18px;
    display: inline-block;
    padding-left: 24px;
}

#perms_info_button {
    margin-left: 25px;
    vertical-align: middle;
}

#perms_info_button > span {
    font-size: 20px;
}

#perms_recursive_label {
    margin: 10px 10px 0 0;
    display: inline-block;
}

#perms_form {
    margin-top: 18px;
}

.perms-warning {
    width: 100%;
    display: none;
    color: #E85142;
    font-weight: 700;
}

.perms-warning > span {
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
}

.perms-warning > p {
    margin: 3px 0 3px 7px;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
}

.perms-warning > p > strong {
    font-weight: 900;
}

#tab_posix {
}

.posix-checkbox {
    margin: 0 auto !important;
    width: 20px;
}

#posix_table {
    margin: 0 auto 15px;
    table-layout: fixed;
    width: 200px;
    border-color: rgb(82, 100, 118);
}

.posix-cell {
    border-left: 2px solid rgb(82, 100, 118) !important;
    border-top: 2px solid rgb(82, 100, 118) !important;
    width: 60px;
    text-align: center !important;
}

#posix_table > thead:first-child > tr:first-child > th,
#posix_table > tbody:first-child > tr:first-child > th,
#posix_table > tbody:first-child > tr:first-child > td {
    border-top: 0 !important;
}

.posix-octal-form-wrapper {
    position: relative;
    width: 430px;
    margin: 10px auto 8px;
}

#posix_octal_form_textbox {
    width: 50px;
    padding: 5px 5px;
    position: relative;
    margin: -1px 0 1px 8px;
}

#tab_acl {
    position: relative;
}

.acl-info {
    display: inline-block;
    height: 70px;
    width: 80px;
    overflow: hidden;
    margin-right: 10px;
    text-align: center;
    padding: 70px 0;
}

.acl-info > p {
    line-height: 14px;
    font-size: 14px;
    margin: 0 0 8px;
}

.acl-info > span {
    font-size: 24px;
}

#acl_list {
    display: inline-block;
    width: 550px;
    height: 210px;
    border: 2px solid #526476;
    border-radius: 6px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.acl-entry {
    width: 100%;
    border-bottom: 2px solid lightgray;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.acl-add-button {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.acl-add-info {
    position: absolute;
    top: 12px;
    left: 30px;
    font-size: 15px;
    margin-left: 7px;
}

.acl-entry-allow {
    background-color: #DFFFDF;
}

.acl-entry-deny {
    background-color: #FFE5E5;
}

.acl-entry-allow.acl-entry-selected {
    background-color: #A6FFA6;
}

.acl-entry-deny.acl-entry-selected {
    background-color: #FFB8B8;
}

.acl-entry-new.acl-entry-selected {
    background-color: #B9D9FF;
}

.acl-identifier {
    position: absolute;
    left: 6px;
    top: 7px;
    line-height: 24px;
    height: 24px;
    width: 250px;
    text-align: left;
    overflow: hidden;
}

.acl-ident-icon {
    vertical-align: middle;
    font-size: 24px;
    color: rgb(82, 100, 118);
}

.acl-ident-name {
    vertical-align: middle;
    font-size: 15px;
    margin-left: 7px;
    word-wrap: break-word;
    white-space: nowrap;
}

.acl-icon-read {
    position: absolute;
    left: 300px;
    top: 12px;
    font-size: 14px;
    color: rgb(82, 100, 118);
}

.acl-symbol-read {
    position: absolute;
    left: 318px;
    top: 12px;
    font-size: 14px;
    color: rgb(82, 100, 118);
}

.acl-icon-write {
    position: absolute;
    left: 340px;
    top: 12px;
    font-size: 14px;
    color: rgb(82, 100, 118);
}

.acl-symbol-write {
    position: absolute;
    left: 358px;
    top: 12px;
    font-size: 14px;
    color: rgb(82, 100, 118);
}

.acl-icon-exec {
    position: absolute;
    left: 385px;
    top: 12px;
    font-size: 14px;
    color: rgb(82, 100, 118);
}

.acl-symbol-exec {
    position: absolute;
    left: 403px;
    top: 12px;
    font-size: 14px;
    color: rgb(82, 100, 118);
}

.acl-button-delete {
    position: absolute;
    top: 9px;
    right: 42px;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.acl-button-move-up {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.acl-button-move-down {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

#acl-form {
    display: inline-block;
    width: 400px;
    height: 210px;
    border: 2px solid #526476;
    border-radius: 6px;
    margin-left: 20px;
}

#acl-form-table {
    border-width: 0;
    width: auto;
    margin-top: 10px;
}

#acl-form-table > tbody > tr > td {
    padding: 5px 0 5px 20px;
    text-align: left;
    vertical-align: middle;
    height: 35px;
}

.acl-label {
    margin-left: 0;
    cursor: auto;
    width: 60px;
}

#acl_select_name {
    margin: 3px 20px -3px 0;
    z-index: 2;
    line-height: 18px;
    color: #34495E;
}

.acl-checkbox {
    margin-top: -3px;
    margin-bottom: 3px;
    margin-right: 20px;
    display: inline-block;
}

.acl-form-button {
    padding: 4px 8px !important;
    width: 78px;
    font-size: 13px;
}

.acl-confirm-prompt {
    position: absolute;
    top: 12px;
    right: 75px;
    font-size: 14px;
    display: none;
}

.acl-confirm-yes {
    position: absolute;
    top: 8px;
    right: 42px;
    font-size: 18px;
    display: none;
    cursor: pointer;
}

.acl-confirm-no {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    display: none;
    cursor: pointer;
}

.perms-letter {
    margin: 0 1px 0 0;
    display: inline-block;
    width: 10px;
    text-align: center;
}

.list-view-name-column:hover .show-on-parent-hover {
    display: block !important;
}

.ddist-panel {
    margin-top: 12px;
    margin-left: 7px;
}


.ddist-show-button {
    display: none;
    position: absolute;
    top: 15px;
    right: 6px;
}

.ddist-show-button > span {
    font-size: 20px;
}

.ddist-hide-button {
    position: absolute;
    top: 8px;
    right: 4px;
}

.ddist-hide-button > span {
    font-size: 24px;
}

.ddist-table {
    border: 0 none !important;
}

.ddist-table > tbody > tr {
    border: 0 none !important;
}

.ddist-table > tbody > tr > td {
    border: 0 none !important;
    padding: 9px;
    vertical-align: middle;
}

.ddist-provider {
    font-weight: 700;
    overflow: hidden;
}

.ddist-button {
    font-size: 16px;
}

.ddist-canvas {
    width: 125px;
    height: 20px;
    display: block;
    border: 1px solid #526476;
    border-radius: 5px;
}

.ddist-header {
    margin: 0;
    padding: 0 9px;
    font-size: 16px;
}

.ddist-percentage {
    width: 50px;
}