@font-face {
    font-family: 'icomoon';
    src:url('/css/icomoon.eot?uipyqx');
    src:url('/css/icomoon.eot?#iefixuipyqx') format('embedded-opentype'),
    url('/css/icomoon.woff?uipyqx') format('woff'),
    url('/css/icomoon.ttf?uipyqx') format('truetype'),
    url('/css/icomoon.svg?uipyqx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-home:before {
    content: "\e600";
}
.icomoon-home2:before {
    content: "\e601";
}
.icomoon-pencil:before {
    content: "\e602";
}
.icomoon-pencil2:before {
    content: "\e603";
}
.icomoon-file:before {
    content: "\e604";
}
.icomoon-profile:before {
    content: "\e605";
}
.icomoon-file2:before {
    content: "\e606";
}
.icomoon-file3:before {
    content: "\e607";
}
.icomoon-file4:before {
    content: "\e608";
}
.icomoon-copy:before {
    content: "\e609";
}
.icomoon-copy2:before {
    content: "\e60a";
}
.icomoon-copy3:before {
    content: "\e60b";
}
.icomoon-paste:before {
    content: "\e60c";
}
.icomoon-paste2:before {
    content: "\e60d";
}
.icomoon-paste3:before {
    content: "\e60e";
}
.icomoon-stack:before {
    content: "\e60f";
}
.icomoon-folder:before {
    content: "\e610";
}
.icomoon-folder-open:before {
    content: "\e611";
}
.icomoon-tag:before {
    content: "\e612";
}
.icomoon-tags:before {
    content: "\e613";
}
.icomoon-envelope:before {
    content: "\e614";
}
.icomoon-calendar:before {
    content: "\e615";
}
.icomoon-calendar2:before {
    content: "\e616";
}
.icomoon-box-add:before {
    content: "\e617";
}
.icomoon-box-remove:before {
    content: "\e618";
}
.icomoon-download:before {
    content: "\e619";
}
.icomoon-upload:before {
    content: "\e61a";
}
.icomoon-disk:before {
    content: "\e61b";
}
.icomoon-undo:before {
    content: "\e61c";
}
.icomoon-redo:before {
    content: "\e61d";
}
.icomoon-undo2:before {
    content: "\e61e";
}
.icomoon-redo2:before {
    content: "\e61f";
}
.icomoon-forward:before {
    content: "\e620";
}
.icomoon-reply:before {
    content: "\e621";
}
.icomoon-user:before {
    content: "\e622";
}
.icomoon-users:before {
    content: "\e623";
}
.icomoon-user2:before {
    content: "\e624";
}
.icomoon-users2:before {
    content: "\e625";
}
.icomoon-user3:before {
    content: "\e626";
}
.icomoon-user4:before {
    content: "\e627";
}
.icomoon-spinner:before {
    content: "\e628";
}
.icomoon-spinner2:before {
    content: "\e629";
}
.icomoon-spinner3:before {
    content: "\e62a";
}
.icomoon-spinner4:before {
    content: "\e62b";
}
.icomoon-spinner5:before {
    content: "\e62c";
}
.icomoon-spinner6:before {
    content: "\e62d";
}
.icomoon-search:before {
    content: "\e6ab";
}
.icomoon-key:before {
    content: "\e62e";
}
.icomoon-lock:before {
    content: "\e62f";
}
.icomoon-lock2:before {
    content: "\e630";
}
.icomoon-unlocked:before {
    content: "\e631";
}
.icomoon-wrench:before {
    content: "\e632";
}
.icomoon-cog:before {
    content: "\e633";
}
.icomoon-cogs:before {
    content: "\e634";
}
.icomoon-cog2:before {
    content: "\e635";
}
.icomoon-hammer:before {
    content: "\e636";
}
.icomoon-remove:before {
    content: "\e637";
}
.icomoon-remove2:before {
    content: "\e638";
}
.icomoon-lightning:before {
    content: "\e639";
}
.icomoon-switch:before {
    content: "\e63a";
}
.icomoon-list:before {
    content: "\e63b";
}
.icomoon-list2:before {
    content: "\e63c";
}
.icomoon-cloud:before {
    content: "\e63d";
}
.icomoon-cloud-download:before {
    content: "\e63e";
}
.icomoon-cloud-upload:before {
    content: "\e63f";
}
.icomoon-download2:before {
    content: "\e640";
}
.icomoon-upload2:before {
    content: "\e641";
}
.icomoon-download3:before {
    content: "\e642";
}
.icomoon-upload3:before {
    content: "\e643";
}
.icomoon-globe:before {
    content: "\e644";
}
.icomoon-earth:before {
    content: "\e645";
}
.icomoon-link:before {
    content: "\e646";
}
.icomoon-attachment:before {
    content: "\e647";
}
.icomoon-warning:before {
    content: "\e648";
}
.icomoon-notification:before {
    content: "\e649";
}
.icomoon-question:before {
    content: "\e64a";
}
.icomoon-info:before {
    content: "\e64b";
}
.icomoon-info2:before {
    content: "\e64c";
}
.icomoon-blocked:before {
    content: "\e64d";
}
.icomoon-cancel-circle:before {
    content: "\e64e";
}
.icomoon-checkmark-circle:before {
    content: "\e64f";
}
.icomoon-spam:before {
    content: "\e650";
}
.icomoon-close:before {
    content: "\e651";
}
.icomoon-checkmark:before {
    content: "\e652";
}
.icomoon-checkmark2:before {
    content: "\e653";
}
.icomoon-spell-check:before {
    content: "\e654";
}
.icomoon-minus:before {
    content: "\e655";
}
.icomoon-plus:before {
    content: "\e656";
}
.icomoon-enter:before {
    content: "\e657";
}
.icomoon-exit:before {
    content: "\e658";
}
.icomoon-checkbox-checked:before {
    content: "\e6ac";
}
.icomoon-checkbox-unchecked:before {
    content: "\e6ad";
}
.icomoon-checkbox-partial:before {
    content: "\e6ae";
}
.icomoon-radio-checked:before {
    content: "\e6af";
}
.icomoon-radio-unchecked:before {
    content: "\e6b0";
}
.icomoon-scissors:before {
    content: "\e6b2";
}
.icomoon-share:before {
    content: "\e6b1";
}
.icomoon-google:before {
    content: "\e659";
}
.icomoon-googleplus:before {
    content: "\e65a";
}
.icomoon-googleplus2:before {
    content: "\e65b";
}
.icomoon-googleplus3:before {
    content: "\e65c";
}
.icomoon-googleplus4:before {
    content: "\e65d";
}
.icomoon-google-drive:before {
    content: "\e65e";
}
.icomoon-facebook:before {
    content: "\e65f";
}
.icomoon-facebook2:before {
    content: "\e660";
}
.icomoon-facebook3:before {
    content: "\e661";
}
.icomoon-instagram:before {
    content: "\e662";
}
.icomoon-twitter:before {
    content: "\e663";
}
.icomoon-twitter2:before {
    content: "\e664";
}
.icomoon-twitter3:before {
    content: "\e665";
}
.icomoon-feed:before {
    content: "\e666";
}
.icomoon-feed2:before {
    content: "\e667";
}
.icomoon-feed3:before {
    content: "\e668";
}
.icomoon-youtube:before {
    content: "\e669";
}
.icomoon-youtube2:before {
    content: "\e66a";
}
.icomoon-vimeo:before {
    content: "\e66b";
}
.icomoon-vimeo2:before {
    content: "\e66c";
}
.icomoon-vimeo3:before {
    content: "\e66d";
}
.icomoon-lanyrd:before {
    content: "\e66e";
}
.icomoon-flickr:before {
    content: "\e66f";
}
.icomoon-flickr2:before {
    content: "\e670";
}
.icomoon-flickr3:before {
    content: "\e671";
}
.icomoon-flickr4:before {
    content: "\e672";
}
.icomoon-picassa:before {
    content: "\e673";
}
.icomoon-picassa2:before {
    content: "\e674";
}
.icomoon-dribbble:before {
    content: "\e675";
}
.icomoon-dribbble2:before {
    content: "\e676";
}
.icomoon-dribbble3:before {
    content: "\e677";
}
.icomoon-forrst:before {
    content: "\e678";
}
.icomoon-forrst2:before {
    content: "\e679";
}
.icomoon-deviantart:before {
    content: "\e67a";
}
.icomoon-deviantart2:before {
    content: "\e67b";
}
.icomoon-steam:before {
    content: "\e67c";
}
.icomoon-steam2:before {
    content: "\e67d";
}
.icomoon-github:before {
    content: "\e67e";
}
.icomoon-github2:before {
    content: "\e67f";
}
.icomoon-github3:before {
    content: "\e680";
}
.icomoon-github4:before {
    content: "\e681";
}
.icomoon-github5:before {
    content: "\e682";
}
.icomoon-wordpress:before {
    content: "\e683";
}
.icomoon-wordpress2:before {
    content: "\e684";
}
.icomoon-joomla:before {
    content: "\e685";
}
.icomoon-blogger:before {
    content: "\e686";
}
.icomoon-blogger2:before {
    content: "\e687";
}
.icomoon-tumblr:before {
    content: "\e688";
}
.icomoon-tumblr2:before {
    content: "\e689";
}
.icomoon-yahoo:before {
    content: "\e68a";
}
.icomoon-tux:before {
    content: "\e68b";
}
.icomoon-apple:before {
    content: "\e68c";
}
.icomoon-finder:before {
    content: "\e68d";
}
.icomoon-android:before {
    content: "\e68e";
}
.icomoon-windows:before {
    content: "\e68f";
}
.icomoon-windows8:before {
    content: "\e690";
}
.icomoon-soundcloud:before {
    content: "\e691";
}
.icomoon-soundcloud2:before {
    content: "\e692";
}
.icomoon-skype:before {
    content: "\e693";
}
.icomoon-reddit:before {
    content: "\e694";
}
.icomoon-linkedin:before {
    content: "\e695";
}
.icomoon-lastfm:before {
    content: "\e696";
}
.icomoon-lastfm2:before {
    content: "\e697";
}
.icomoon-delicious:before {
    content: "\e698";
}
.icomoon-stumbleupon:before {
    content: "\e699";
}
.icomoon-stumbleupon2:before {
    content: "\e69a";
}
.icomoon-stackoverflow:before {
    content: "\e69b";
}
.icomoon-pinterest:before {
    content: "\e69c";
}
.icomoon-pinterest2:before {
    content: "\e69d";
}
.icomoon-xing:before {
    content: "\e69e";
}
.icomoon-xing2:before {
    content: "\e69f";
}
.icomoon-flattr:before {
    content: "\e6a0";
}
.icomoon-foursquare:before {
    content: "\e6a1";
}
.icomoon-foursquare2:before {
    content: "\e6a2";
}
.icomoon-paypal:before {
    content: "\e6a3";
}
.icomoon-paypal2:before {
    content: "\e6a4";
}
.icomoon-paypal3:before {
    content: "\e6a5";
}
.icomoon-yelp:before {
    content: "\e6a6";
}
.icomoon-libreoffice:before {
    content: "\e6a7";
}
.icomoon-minus2:before {
    content: "\e6b3";
}
.icomoon-plus2:before {
    content: "\e6b4";
}
.icomoon-cross:before {
    content: "\e6b5";
}
.icomoon-minus3:before {
    content: "\e6b6";
}
.icomoon-plus3:before {
    content: "\e6b7";
}
.icomoon-cross2:before {
    content: "\e6b8";
}
.icomoon-minus4:before {
    content: "\e6b9";
}
.icomoon-plus4:before {
    content: "\e6ba";
}
.icomoon-erase:before {
    content: "\e6bb";
}
.icomoon-info3:before {
    content: "\e6bc";
}
.icomoon-info4:before {
    content: "\e6bd";
}
.icomoon-question2:before {
    content: "\e6be";
}
.icomoon-help:before {
    content: "\e6bf";
}
.icomoon-arrow-left:before {
    content: "\e6a8";
}
.icomoon-arrow-left2:before {
    content: "\e6a9";
}
.icomoon-dropbox:before {
    content: "\e6aa";
}
