#app {
  header {
    left: 0;

    .navbar-brand {
      display: none;
    }
  }

  // hide sidebar when not toggled (visible)
  nav.primary-sidebar {
    width: 0;
  }

  section#main-content {
    // below sidebar
    left: 0;

    // by default is not visible - only visible when specific class is set
    nav.secondary-sidebar {
      min-width: 0;
      max-width: 0;

      // when visible - it is the only thing visible on the screen
      &.visible {
        min-width: 100%;
      }
    }
  }




}
