[
    %% kernel config for ccm distributed application
    {kernel, [
        {distributed, [{veil_cluster_node, 5000, ['nonode@nohost', {'nonode@nohost', 'nonode@nohost'}]}]},
        {sync_nodes_mandatory, ['nonode@nohost', 'nonode@nohost']},
        {sync_nodes_timeout, 60000}
    ]
    },

    %% SASL config
    {sasl, [{sasl_error_logger, false}]},

    %% logger configuration
    {lager, [
        {handlers, [
            %% show info level or higher level logs at console
            {lager_console_backend, info},
            %% rotate error log once a month (first day of month, 1 a.m) or when it reaches 1 GB; keep 1000 rotated logs
            {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 1048576000}, {date, "$M1D1"}, {count, 1000}]},
            %% rotate info log once a week (friday at 11 p.m) or when it reaches 100 MB; keep 100 rotated logs
            {lager_file_backend, [{file, "log/info.log"}, {level, info}, {size, 104857600}, {date, "$W5D23"}, {count, 100}]},
            %% rotate info log once a day (at midnight) or when it reaches 10 MB; keep 10 rotated logs
            {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 10}]},
            {central_logging_backend, debug}
        ]},
        {error_logger_hwm, 200}
    ]},

    %% n2o (GUI) configuration
    {n2o, [
        {port, 443},
        {transition_port, 443},
        {route, gui_routes} % Routing module for GUI
    ]}
].
