/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body {
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

div.header
{
    margin: 10px;
    background-color: #66CC33;
    color: white;
    font-weight: bold;
}

a.header_link 
{
    margin: 15px; 
    color: white; 
    font-weight: bold;
    text-decoration: none; 
    border: 1px dotted white;
}

div.logs
{
    margin: 30px;
}

table.log
{
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
    width: 100%;
}

td.log_header
{
    padding-left: 5px;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    border-color: gray;
    font-weight: bold;
}

table td.timestamp
{
    border-width: 0px 0px 1px 0px;
    padding-right: 5px;
    text-align: right;
    border-style: dashed;
    border-color: gray;
    font-style: italic;
}

td.metadata
{
    padding: 0px 0px 0px 5px;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    border-color: gray;
    background-color: #F3F3F3;
    color: #555555;
    font-size: 75%;
    line-height: 175%;
}

td.metadata:hover
{
    cursor: pointer;
}

td.metadata_hint
{
    padding: 0px 5px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    border-color: gray;
    background-color: #F3F3F3;
    color: #555555;
    font-size: 75%;
    line-height: 175%;
    text-align: right;
    font-style: italic;
}

td.metadata_hint:hover
{
    cursor: pointer;
}

td.log_content
{
    padding-left: 5px;
}

td.severity_debug { background-color: #E5F3FF; }
td.severity_info { background-color: #DDFFBB; }
td.severity_notice { background-color: #EEFFAA; }
td.severity_warning { background-color: #FFFFAA; }
td.severity_error { background-color: #FFEEAA; }
td.severity_critical { background-color: #FFDDC3; }
td.severity_alert { background-color: #FFDDC3; }
td.severity_emergency { background-color: #FFDDC3; }