/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body {
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

div.header
{
    margin: 10px;
    background-color: #66CC33;
    color: white;
    font-weight: bold;
}

a.header_link
{
    margin: 15px; 
    color: white; 
    font-weight: bold;
    text-decoration: none; 
    border: 1px dotted white;
}

label.title
{
    margin-bottom: 10px;
    background-color: #66CC33;
}

div.main_panel
{
    margin: auto;
    margin-top: 50px;
    border: 2px solid #66CC33;
    padding: 0px;
    width: 1000px;
    text-align: center;
    padding-bottom: 5px; 
}

div.inline_block
{    
   margin-left: auto; 
   margin-right: auto; 
   text-align: left; 
   display: inline-block;
}

table
{
    margin-top: 20px;
    margin-bottom: 15px;
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: gray;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
}

th.header_left
{
    padding: 0px 8px 0px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: #66CC33;
    font-size: 120%;
    font-weight: bold;
    padding: 7px;
}

th.header_right
{
    padding: 0px 8px 0px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: #66CC33;
    font-size: 120%;
    font-weight: bold;
    text-align: right;
    padding: 7px;
}

td.property
{
    padding: 0px 8px 0px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: #F3F3F3;
    font-weight: bold;
    text-align: right;
    padding: 5px;
}

td.value
{
    padding: 0px 8px 0px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    font-weight: normal;
    padding: 5px;
}

ol
{
    list-style-type: decimal;
}

li
{
    list-style-position: inside;
}

input
{
    margin: 0px 3px 0px 3px;
}