%%
%% etc/sys.config
%%

%% Config for ccm distributed application
{ccm_dist_config, "{kernel,
  [{distributed, [{veil_cluster_node, 5000, ['ccm1@vfs4.net', {'ccm2@vfs5.net', 'ccm3@vfs6.net'}]}]},
   {sync_nodes_mandatory, ['ccm1@vfs4.net', 'ccm2@vfs5.net']},
   {sync_nodes_timeout, 60000}
  ]
 },"
}.


%%
%% etc/vm.args
%%

%% Node name
{node, "ccm3@vfs6.net"}.

%% Node type (worker or ccm)
{node_type, "ccm"}.

%% How long should ccm wait for workers before it initializes cluster
{initialization_time, 300}.

%% How long (in sec) should ccm wait between successive checks of cluster status
{cluster_clontrol_period, 300}.

%% Memory size which stores information about worker load
{worker_load_memory_size, 1000}.

%% List of ccm possible ccm nodes
{ccm_nodes, "[\"\\'ccm1@vfs4.net\\'\",\"\\'ccm2@vfs5.net\\'\",\"\\'ccm3@vfs6.net\\'\"]"}.

%% How long (in sec) should node wait before next heart beat
{heart_beat, 60}.