%%
%% etc/vm.args
%%
%% Node name
{node, "veil_cluster_node@localhost"}.
%% Node type (worker or ccm)
{node_type, "worker"}.
%% How long (in sec) should worker sleep before next connection try (when it cannot connect to ccm)
{worker_sleep_time, 60}.
%% List of ccm possible ccm nodes
{ccm_nodes, "[node1@localhost]"}.