%%
%% etc/vm.args
%% 

%% Node name
{node, "worker1@vfs1.net"}.

%% Node type (worker or ccm)
{node_type, "worker"}.

%% How long (in sec) should node wait before next heart beat
{heart_beat, 60}.

%% List of ccm possible ccm nodes
{ccm_nodes, "[\"\\'ccm1@vfs1.net\\'\",\"\\'ccm2@vfs2.net\\'\",\"\\'ccm3@vfs3.net\\'\"]"}.