/* The main style file to include other sylesheets: various media or css libraries */

$min-width-mobile: 300px;
$max-width-mobile: 760px;

$min-width-tablet: $max-width-mobile + 1;
$max-width-tablet: 1160px;

$min-width-desktop-small: $max-width-tablet + 1;
$max-width-desktop-small: 1356px;

$min-width-desktop-medium: $max-width-desktop-small + 1;
$max-width-desktop-medium: 1800px;

$min-width-desktop-large: $max-width-desktop-medium + 1;

// TODO: use mixin, min-width only, maybe common should not be included N-times

// TODO: some refactor:
// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32

// TODO: move to utils.scss

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/// Bootstrap

// Bootstrap variables
// TODO: set to values from app.scss
// @grid-float-breakpoint
$modal-inner-padding: 30px;

@import "bootstrap";

@import 'colors';

$icomoon-font-path: 'fonts/oneicons';
@import 'oneicons/style.scss';
// TODO: this is style from VFS-1508, will be changed
// @import 'components/file-browser'

@import 'floater';

@media screen
  and (min-width: $min-width-desktop-large) {
    $global-min-width: $min-width-desktop-large;
    @import 'media-variables/desktop-large';
    @import 'common';
    @import 'media-styles/desktop-large';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
}

@media screen
  and (min-width: $min-width-desktop-medium)
  and (max-width: $max-width-desktop-medium) {
    $global-min-width: $min-width-desktop-medium;
    @import 'media-variables/desktop-medium';
    @import 'common';
    @import 'media-styles/desktop-medium';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
}

@media screen
  and (min-width: $min-width-desktop-small)
  and (max-width: $max-width-desktop-small) {
    $global-min-width: $min-width-desktop-small;
    @import 'media-variables/desktop-small';
    @import 'common';
    @import 'media-styles/desktop-small';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
}

@media screen
  and (min-width: $min-width-tablet)
  and (max-width: $max-width-tablet) {
    $global-min-width: $min-width-tablet;
    @import 'media-variables/tablet';
    @import 'common';
    @import 'media-styles/tablet';
    @import 'components/one-table-common';
    @import 'components/one-table-mobile';
    @import 'components/dropdown';
}

// minimal layout, min-width-mobile not used in query
@media screen
  and (max-width: $max-width-mobile) {
    $global-min-width: $min-width-mobile;
    @import 'media-variables/mobile';
    @import 'common';
    @import 'media-styles/mobile';
    @import 'components/one-table-common';
    @import 'components/one-table-mobile';
    @import 'components/dropdown';
}

@import 'components/modal';
@import 'components/button';
@import 'components/notify';
@import 'components/file-upload';
