$onedata-red: #F14549;
$onedata-azure: #5192EB;
$onedata-gold: #F5A700;
$onedata-graphite: #2F333A;
$onedata-snow: #F6F7F8;
$onedata-light-gray: #FAFAFA;
$onedata-light-azure: #F2F7FA;
$onedata-topbar-graphite: #363A42;

/// Color classes

.default-space-color {
  color: $onedata-gold;
}

.space-color {
  color: $onedata-azure;
}
