$onedata-red: #F14549;
$onedata-azure: #5192EB;
$onedata-gold: #F5A700;
$onedata-graphite: #2F333A;
$onedata-snow: #F6F7F8;
$onedata-light-gray: #FAFAFA;
$onedata-light-azure: #F2F7FA;
// TODO: same as graphite?
$onedata-topbar-graphite: #363A42;

// elements colors
$color-folder: #A7ACB3;
// TODO: onedata-red ?
$color-file: #F63A39;

/// Color classes
// TODO: all classes should start with "color-"

.default-space-color {
  color: $onedata-gold !important;
}

.space-color {
  color: $onedata-azure !important;
}

.color-directory {
  color: $color-folder !important;
}

.color-file {
  color: $color-file !important;
}
