$onedata-red: #F14549;
$onedata-azure: #5192EB;
$onedata-gold: #F5A700;
$onedata-graphite: #2F333A;
// TODO: used as a dropright menu background
$onedata-graphite-2: #2B3037;
$onedata-gray: #B6BAC0;
$onedata-snow: #F6F7F8;
$onedata-light-gray: #FAFAFA;
$onedata-light-azure: #F2F7FA;
$onedata-fresh-green: #97C31B;
$onedata-mint-green: #55E191;
// TODO: same as graphite?
$onedata-topbar-graphite: #363A42;

// elements colors
$color-folder: $onedata-gray;
// TODO: onedata-red ?
$color-file: #F63A39;
$color-toolbar-icon: $onedata-graphite;
$color-toolbar-icon-disabled: rgba($onedata-graphite, 0.25);
$color-toolbar-icon-hover: $onedata-red;
$color-toolbar-separator: #DADADA;
$color-button-primary: #55E191;
$color-button-default: #8E8E8E;
// TODO: next red?
$color-upload-progress-fg: #EF3C40;
$color-upload-progress-bg: #D7D7D7;

$color-dropdown-menu-bg: #2B3037;
// color from screenshot: #F35154;
$color-dropdown-menu-bg-hover: $onedata-red;
// TODO: from globalregistry...
$top-font-color: #bfbfbf;

// TODO: notify colors for all types
$color-notify-background: #2B3037;
$color-notify-info: $onedata-fresh-green;
$color-notify-success: $onedata-fresh-green;
$color-notify-warning: $onedata-red;
$color-notify-alert: $onedata-red;
$color-notify-error: $onedata-red;


/// Color classes
// TODO: all classes should start with "color-"

.color-space-default {
  color: $onedata-red !important;
}

.color-space {
  color: $onedata-gray !important;
}

.color-directory {
  color: $color-folder !important;
}

.color-file {
  color: $color-file !important;
}
