// default for desktop TODO: move to desktop-common
$sidebar-width: 68px !default;
$top-bar-height: 72px !default;
$global-min-width: 1000px !default;
// $secondary-sidebar-width: 352px;
$secondary-sidebar-width: 352px !default;

$content-padding: 12px !default;

$top-bar-background-color: $onedata-snow !default;
$top-bar-foreground-color: $onedata-topbar-graphite !default;
$sidebar-background-color: $onedata-graphite !default;
$content-background-color: #FFF !default;

$sidebar-item-hover-color: $onedata-red;

/// Font and icon sizes
$secondary-sidebar-font-size: 13pt !default;
$secondary-sidebar-icon-font-size: 16pt !default;

$top-bar-icon-font-size: 16pt !default;

$table-font-size: 13pt !default;
$table-checkbox-size: 16pt !default;

$transition-time: 0.25s !default;

/// Set Open Sans font globally
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: local('Open Sans'), local('OpenSans'),
         url('fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// TODO: should be used with Bootstrap SASS
$font-family-sans-serif: 'Open Sans';

html, body {
  font-family: $font-family-sans-serif !important;
}

#app {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: $sidebar-width;
    height: $top-bar-height;

    color: $top-bar-foreground-color;
    background: $top-bar-background-color;
    // TODO
    //transition: left 0.25s;

    .navbar {
      min-height: $top-bar-height;
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      background: none;

      .navbar-brand {
        padding-left: 42px;
      }

      .top-bar-icon {
        font-size: $top-bar-icon-font-size;
      }

      .navbar-nav {
        .profile-dropdown {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }


  }

  nav.primary-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: $sidebar-width;

    // TODO
    // transition: width $transition-time;

    background: $sidebar-background-color;

    &.visible {
      width: $sidebar-width;
    }

    // a list of application pages links (icons)
    ul {
      margin: 0; padding: 0;
      list-style: none;

      .small-logo {
        height: $top-bar-height;
        width: $sidebar-width;
        padding-top: 15px;
        text-align: center;

        img {
          padding: 0;
          width: 41px;
          height: 27px;
        }
      }

      // TODO
      $sidebar-item-height: 78px;

      li {
        overflow: hidden;
        font-size: 18pt;
        vertical-align: middle;
        border-bottom: solid #565960 1px;

        a {
          display: table;
          height: $sidebar-item-height;
          text-decoration: none;
          color: #fff;
          width: 100%;

          &:hover,
          &.active {
            background-color: $sidebar-item-hover-color;
          }

          figure {
            display: table-cell;
            vertical-align: middle;
            max-height: $sidebar-item-height;
            text-align: center;
            color: #fff;

            figcaption {
              padding-top: 4px;
              font-size: 8pt;
              font-weight: lighter;
              letter-spacing: 0.05em;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  section#main-content {
    position: fixed;
    overflow: hidden;
    top: $top-bar-height;
    right: 0;
    left: $sidebar-width;
    bottom: 0;
    min-width: $global-min-width - $sidebar-width;
    z-index: -1;


    // TODO
    // transition: left $transition-time;

    background: $content-background-color;

    nav.secondary-sidebar {
      float: left;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;

      max-width: $secondary-sidebar-width;
      min-width: $secondary-sidebar-width;

      border-right: #E6E6E6 2px solid;

      .secondary-sidebar-header {
        text-transform: uppercase;
        border-top: none;
        // TODO: should be like div.current-sidebar-entry...
        height: 60px;
        padding-top: 18px;
        padding-left: 33px; // SPACES is moved right slightly
        padding-bottom: 16px;
        padding-right: 27px;
        color: #4D5664; // TODO: graphite2?
        font-size: 11pt;
      }

      ul {
        padding: 0;

        li {
          list-style-type: none;

          .secondary-sidebar-item {
            border-top: #ebebeb 1px solid;
            /* TODO: padding is probably bad idea */
            padding-left: $secondary-sidebar-width / 13;
            padding-right: $secondary-sidebar-width / 13;
            padding-top: 18px;
            padding-bottom: 16px;
            list-style-type: none;
            font-size: $secondary-sidebar-font-size;
            height: 60px;

            .item-icon {
              display: block;
              float: left;
              width: 2.2em;
              font-size: $secondary-sidebar-icon-font-size;
              text-align: center;
            }

            .item-label {
              font-size: $secondary-sidebar-font-size;
              padding-left: 0.5em;
            }
          }

          ul.submenu {
            display: none;
            background-color: $onedata-light-gray;
            li {
              .secondary-sidebar-item {
                padding-left: $secondary-sidebar-width * 0.28;

                .item-label {
                  text-transform: capitalize;
                }
              }

              &:hover,
              &.active {
                color: $onedata-azure;
              }
            }
          }

          &.active.first-level {
            border-left: 4px solid $onedata-azure;

            .secondary-sidebar-item.first-level {
              background-color: $onedata-light-azure;
            }
          }

          &:hover {
            .secondary-sidebar-item.first-level {
              background-color: $onedata-light-azure;
            }
          }

          // active first-level entry
          &.active {
            ul.submenu {
              display: block;
            }

            .secondary-sidebar-item {
              background-color: $onedata-light-gray;
            }
          }
        }
      }
    }

    // TODO: assuming, that this content is always on secondary-sidebar right
    // other content-scroll types should be made
    #content-scroll {
      float: none;
      overflow-y: auto;
      overflow-x: hidden; // TODO: it's probably some hack
      height: 100%;
      padding: $content-padding;
    }
  }

}
