$responsive-multiplier: 1 !default;

// default for desktop TODO: move to desktop-common
$sidebar-width: 68px !default;
$top-bar-height: 72px !default;
$global-min-width: 1000px !default;
// $secondary-sidebar-width: 352px;
$secondary-sidebar-width: 352px !default;
$secondary-sidebar-item-padding: $secondary-sidebar-width * 0.077 !default;

$content-padding: 12px !default;

$top-bar-background-color: $onedata-snow !default;
$top-bar-foreground-color: $onedata-topbar-graphite !default;
$sidebar-background-color: $onedata-graphite !default;
$content-background-color: #FFF !default;

$sidebar-item-hover-color: $onedata-red;

/// Font and icon sizes
$secondary-sidebar-font-size: 13pt !default;
$secondary-sidebar-icon-font-size: 38px !default;

$top-bar-icon-font-size: 32px !default;

$table-font-size: 13pt !default;
$table-checkbox-size: 16pt !default;

$transition-time: 0.25s !default;

/// Set Open Sans font globally
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: local('Open Sans'), local('OpenSans'),
         url('fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// TODO: should be used with Bootstrap SASS
$font-family-sans-serif: 'Open Sans';

html, body {
  font-family: $font-family-sans-serif !important;
}

#app {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: $sidebar-width;
    height: $top-bar-height;

    color: $top-bar-foreground-color;
    background: $top-bar-background-color;
    // TODO
    //transition: left 0.25s;

    .navbar {
      height: $top-bar-height;
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      background: none;

      .top-bar-item {
        // important because we want all items height to fit bar height
        min-height: $top-bar-height !important;
      }

      .toolbar-icon {
        color: $color-toolbar-icon;
        // we do not want hover
        background-color: transparent !important;
        cursor: pointer; cursor: hand;

        &:hover {
          color: $onedata-red !important;
        }

        &.disabled {
          color: $color-toolbar-icon-disabled;
          pointer-events: none;
          cursor: default;
        }
      }

      .navbar-brand {
        width: 156px;
        margin-left: 32px;
        margin-right: 62px;
        // TODO: svg
        background-image: url("/assets/images/logo.png");
        background-position: center center;
        background-repeat: no-repeat;
      }

      .top-bar-icon {
        // important because we to force top bar icons to be equally sized
        font-size: $top-bar-icon-font-size !important;
      }

      // TODO: left only for first, disable right for last
      .toolbar-group {
        border-right: solid 1px $color-toolbar-separator;

        &.navbar-right {
          &:first-of-type {
            border-right: none;
          }
        }

      }

      .navbar-nav {
        // TODO: probably > li can be used... consider it
        // TODO: .top-bar-item
        > li > a {
          // important because we want all items height to fit bar height
          min-height: $top-bar-height !important;
        }

        .profile-dropdown {
          margin-left: 10px;
          margin-right: 10px;

          .oneicon {
            font-size: 40px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  nav.primary-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: $sidebar-width;

    // TODO
    // transition: width $transition-time;

    background: $sidebar-background-color;

    &.visible {
      width: $sidebar-width;
    }

    // a list of application pages links (icons)
    ul {
      margin: 0; padding: 0;
      list-style: none;

      .small-logo {
        height: $top-bar-height;
        width: $sidebar-width;
        text-align: center;

        // TODO: use SVG
        background-image: url("/assets/images/logo-short.png");
        background-repeat: no-repeat;
        background-position: center center;
      }

      // TODO
      $sidebar-item-height: 78px;

      li {
        overflow: hidden;
        vertical-align: middle;
        border-bottom: solid #565960 1px;

        .oneicon {
          font-size: 40px;
        }

        a {
          display: table;
          height: $sidebar-item-height;
          text-decoration: none;
          color: #fff;
          width: 100%;

          &:hover,
          &.active {
            background-color: $sidebar-item-hover-color;
          }

          // TODO: generic figure styles moved up
          figure {
            max-height: $sidebar-item-height;
            color: #fff;

            figcaption {
              letter-spacing: 0.05em;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  section#main-content {
    position: fixed;
    overflow: hidden;
    top: $top-bar-height;
    right: 0;
    left: $sidebar-width;
    bottom: 0;
    min-width: $global-min-width - $sidebar-width;
    z-index: -1;


    // TODO
    // transition: left $transition-time;

    background: $content-background-color;

    nav.secondary-sidebar {
      float: left;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;

      max-width: $secondary-sidebar-width;
      min-width: $secondary-sidebar-width;

      border-right: #E6E6E6 2px solid;

      // TODO: responsive variables?
      .secondary-sidebar-header {
        color: #4D5664; // TODO: graphite2?

        > * {
          display: table-cell;
        }

        .title {
          width: 100%;
          text-transform: uppercase;
          border-top: none;
          // TODO: should be like div.current-sidebar-entry...
          height: 60px;
          padding-top: 18px;
          padding-left: 33px * $responsive-multiplier; // SPACES is moved right slightly
          padding-bottom: 16px;
          padding-right: 27px * $responsive-multiplier;
          font-size: 11pt;
        }

        figure {
          figcaption {
            // pull up
            margin-top: -10px;
          }
        }

        .icon {
          &:first-of-type {
            padding-left: 15px;
          }

          font-size: 28px;
          padding-right: 15px;

          &:hover {
            color: $onedata-red;
          }
        }
      }


      // "active" item of list item
      .secondary-sidebar-item {
        display: table;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-top: #ebebeb 1px solid;
        padding-left: $secondary-sidebar-item-padding;
        padding-right: $secondary-sidebar-item-padding;
        list-style-type: none;
        font-size: $secondary-sidebar-font-size;
        color: black;
        text-decoration: none !important;

        // generic elements of secondary-sidebar-item

        // TODO: elements that use .item-icon or .item-label should use this class
        .item-element {
          display: table-cell;
          vertical-align: middle;
        }

        .item-icon {
          display: table-cell;
          width: 1.5em;
          vertical-align: middle;
          font-size: $secondary-sidebar-icon-font-size;
          text-align: center;
        }

        .item-label {
          display: table-cell;
          width: 100%;
          vertical-align: middle;
          font-size: $secondary-sidebar-font-size;
          padding-left: 1em;
        }

        // more specific
        .settings-icon {
          color: $onedata-graphite;
        }
      }


      ul {
        padding: 0;

        // list item is a container for "action" item and its application childs
        li {
          list-style-type: none;
          line-height: 18px;

          ul.submenu {
            .secondary-sidebar-item {
              padding-left: $secondary-sidebar-item-padding * 3.64;
            }

            // when is a child of non-active parent, it is invisible
            display: none;
            background-color: $onedata-light-gray;

            .secondary-sidebar-item {
              .item-label {
                  text-transform: capitalize;
              }

              &:hover,
              &.active {
                color: $onedata-red;
              }
            }
          }

          &.first-level {
            // TODO: this causes a left "margin" of horizontal lines...
            border-left: 4px solid;
            border-left-color: transparent;
          }

          &.active.first-level {
            border-left-color: $onedata-red;

            .secondary-sidebar-item.first-level {
              background-color: $onedata-light-gray;
            }
          }

          &:hover {
            .secondary-sidebar-item.first-level {
              background-color: $onedata-light-gray;

              .secondary-sidebar-item.first-level {
                background-color: transparent;
              }
            }
          }

          // active first-level entry
          &.active {
            // submenu uncollapses when parent menu is clicked
            ul.submenu {
              display: block;

              .active {
                .secondary-sidebar-item {
                  color: $onedata-red;
                }
              }
            }

            .secondary-sidebar-item {
              background-color: $onedata-light-gray;
            }
          }
        }
      }

      // special styles for sidebar lists which are trees
      ul.tree {

      }
    }

    // TODO: assuming, that this content is always on secondary-sidebar right
    // other content-scroll types should be made
    #content-scroll {
      float: none;
      overflow-y: auto;
      overflow-x: hidden; // TODO: it's probably some hack
      height: 100%;
      padding: $content-padding;
    }
  }

  figure {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; cursor: hand;

    figcaption {
      // pull up
      margin-top: -3px;
      font-size: 8pt;
      font-weight: lighter;
    }
  }

}

.hover-parent {
  &:not(:hover) {
    .transparent-not-hovered {
      color: transparent !important;
    }
  }
}

.modal-loading {
  display: table;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
  .loading-throbber {
    width: 32px;
    height: 32px;
    background-image: url("/assets/images/loading-32.gif");
    background-position: center;
    background-repeat: no-repeat;
  }
  .loading-label {
    padding-left: 15px;
  }
}

.route-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: white;
  background-image: url("/assets/images/loading-128.gif");
  background-position: center;
  background-repeat: no-repeat;
}

// TODO: temporary
@import 'data';
