.secondary-sidebar {
  // root directory item
  .root-item {
  }

  // normal directory - only folder icon and label is clickable
  .item-click-area {
    cursor: pointer; cursor: hand;
  }

  // TODO: this is a common style, separate color from it please
  .secondary-sidebar-item.single-selectable {
    border-left: 4px solid;
    border-left-color: transparent;

    &:hover {
      background-color: $onedata-light-azure;
    }

    &.active {
      background-color: $onedata-light-azure;

      &.onedata-red {
        border-left-color: $onedata-red;
      }
    }
  }

  .level-1 {
    .secondary-sidebar-item {
      padding-left: $secondary-sidebar-item-padding !important;
    }
  }

  .level-2 {
    .secondary-sidebar-item {
      padding-left: ($secondary-sidebar-item-padding + 22px) !important;
    }
  }

  .level-3 .secondary-sidebar-item {
    padding-left: ($secondary-sidebar-item-padding + 44px) !important;
  }

  .level-4 .secondary-sidebar-item {
    padding-left: ($secondary-sidebar-item-padding + 66px) !important;
  }

  .level-5 .secondary-sidebar-item {
    padding-left: ($secondary-sidebar-item-padding + 88px) !important;
  }

}

// TODO

.file-entry {
  &:hover {
    background-color: $onedata-azure;
  }

  &.selected-file {
    background-color: $onedata-red;
  }
}
