/// Oneicons - the onedata icons font

@font-face {
    font-family: 'oneicons';
    src:    url('fonts/oneicons/oneicons.eot?rlo4ty');
    src:    url('fonts/oneicons/oneicons.eot?rlo4ty#iefix') format('embedded-opentype'),
        url('fonts/oneicons/oneicons.ttf?rlo4ty') format('truetype'),
        url('fonts/oneicons/oneicons.woff?rlo4ty') format('woff'),
        url('fonts/oneicons/oneicons.svg?rlo4ty#oneicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="oneicon-"], [class*=" oneicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'oneicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.oneicon-create:before {
    content: "\e900";
}
.oneicon-createcollection:before {
    content: "\e901";
}
.oneicon-cut:before {
    content: "\e902";
}
.oneicon-data:before {
    content: "\e903";
}
.oneicon-discard:before {
    content: "\e904";
}
.oneicon-file:before {
    content: "\e905";
}
.oneicon-folder:before {
    content: "\e906";
}
.oneicon-getsupport:before {
    content: "\e907";
}
.oneicon-group .path1:before {
    content: "\e908";
    color: rgb(0, 0, 0);
}
.oneicon-group .path2:before {
    content: "\e909";
    margin-left: -1.142578125em;
    color: rgb(0, 0, 0);
}
.oneicon-group .path3:before {
    content: "\e90a";
    margin-left: -1.142578125em;
    color: rgb(0, 0, 0);
}
.oneicon-group .path4:before {
    content: "\e90b";
    margin-left: -1.142578125em;
    color: rgb(255, 255, 255);
}
.oneicon-group .path5:before {
    content: "\e90c";
    margin-left: -1.142578125em;
    color: rgb(255, 255, 255);
}
.oneicon-group .path6:before {
    content: "\e90d";
    margin-left: -1.142578125em;
    color: rgb(255, 255, 255);
}
.oneicon-group .path7:before {
    content: "\e90e";
    margin-left: -1.142578125em;
    color: rgb(255, 255, 255);
}
.oneicon-group2:before {
    content: "\e90f";
}
.oneicon-groups:before {
    content: "\e910";
}
.oneicon-inbox:before {
    content: "\e911";
}
.oneicon-invitegroup:before {
    content: "\e912";
}
.oneicon-inviteuser:before {
    content: "\e913";
}
.oneicon-join:before {
    content: "\e914";
}
.oneicon-leavespace:before {
    content: "\e915";
}
.oneicon-links:before {
    content: "\e916";
}
.oneicon-movedown:before {
    content: "\e917";
}
.oneicon-moveup:before {
    content: "\e918";
}
.oneicon-newfolder:before {
    content: "\e919";
}
.oneicon-provider:before {
    content: "\e91a";
}
.oneicon-recent:before {
    content: "\e91b";
}
.oneicon-remove:before {
    content: "\e91c";
}
.oneicon-rename:before {
    content: "\e91d";
}
.oneicon-search:before {
    content: "\e91e";
}
.oneicon-share:before {
    content: "\e91f";
}
.oneicon-space:before {
    content: "\e920";
}
.oneicon-spacedefault:before {
    content: "\e921";
}
.oneicon-spaces:before {
    content: "\e922";
}
.oneicon-trash:before {
    content: "\e923";
}
.oneicon-upload:before {
    content: "\e924";
}
.oneicon-user:before {
    content: "\e925";
}
.oneicon-userplus:before {
    content: "\e926";
}
.oneicon-userprofile:before {
    content: "\e927";
}
.oneicon-view1:before {
    content: "\e928";
}
.oneicon-view2:before {
    content: "\e929";
}
.oneicon-copy:before {
    content: "\e92a";
}
.oneicon-arrowdown:before {
    content: "\e92b";
}
.oneicon-arrowright:before {
    content: "\e92c";
}
.oneicon-block:before {
    content: "\e92d";
}
.oneicon-check:before {
    content: "\e92e";
}
.oneicon-collection:before {
    content: "\e92f";
}
