%% This file is used to define location of GUI files in project source and
%% release package.
%% source_gui_dir must be an ember-cli project. It will be built and placed
%% in release_gui_dir.

%% Target location in release package where static GUI files should be copied.
{release_gui_dir, "data/gui_static"}.

%% Location of directory that contains all gui files.
{source_gui_dir, "src/http/gui"}.
