%% This file is used by gui_compiler.escript in order to
%% compile coffee script and template files and place them
%% in release package.
%% The sole fact of placing this file in rel/ will cause the
%% gui_compiler to be run automatically.

%% Location of static GUI files dir in the repo.
%% Whole contents of the dir will be copied to relase package.
{source_static_files_dir, "src/gui/static"}.

%% Target location in release package where static GUI files should be copied.
{release_static_files_dir, "data/gui_static"}.

%% Location of coffee script files to be compiled
{source_coffee_files_dir, "src/gui/coffee"}.

%% Target location in {{release_static_files_dir}} in which compiled coffee scripts will be placed.
{release_coffee_files_dir, "js"}.

%% NOTE!! The two attributes below MUST BE REPEATED
%% in rebar.config -> erlydtl_opts -> [doc_root, source_ext].
%% Location of directory containing page templates.
{source_template_files_dir, "src/gui/pages"}.
%% File extension of template files.
{source_template_files_ext, ".html"}.
%% Target module suffix.
{release_template_file_suffix, "_view"}.

