%% This file is used by gui_compiler.escript in order to
%% place files needed by GUI in release package.
%% The sole fact of placing this file in rel/ will cause the
%% gui_compiler to be run automatically.
%% It is also used by sync module to automatically update (in runtime)
%% the GUI files that changed.
%% Important notes:
%% - during copying, all xxx.coffee files will be compiled and copied as xxx.js

%% Target location in release package where static GUI files should be copied.
{release_static_files_dir, "data/gui_static"}.

%% Location of common static GUI files dir in the repo.
%% Whole contents of the dir will be copied to relase package.
{source_common_files_dir, "src/gui/common"}.

%% Location of directory that contains all pages as subdir.
%% Example directory structure for source_pages_dir=src/gui/pages
%% and page 'index':
%% src
%%  |
%%  -- gui
%%      |
%%      -- pages
%%          |
%%          -- index
%%          |   |
%%          |   -- index.html
%%          |   -- index_backend.erl
%%          |   -- css/
%%          |   -- images/
%%          |   -- js/
%%          -- ...
%%
%% This structure means, that all files specific for page 'index' should
%% be placed in the 'index' directory. The GUI assumes that the name of the dir,
%% the name of the html file and backend erl file keep this convention.
%% Page specific files are referenced as follows (e.g. from .html file):
%%    <script src="/index/js/application.js"></script>
%%
%% Common files are referenced as follows:
%%    <script src="/common/js/ember-data.js"></script>
%% where 'common' dir may change if source_common_files_dir is different.
%%
%% During realease generation, all files will be copied, with following
%% exceptions:
%%  - .erl files will be ommited
%%  - .coffee files will be compiled to .js
%% And the structure will be remodelled so all the files can be resolved
%% by their path. .html files will be placed in the root of static files dir.
%%
%% Example dir structure in release package:
%% data
%%  |
%%  -- gui_static
%%      |
%%      -- index
%%      |   |
%%      |   -- css/
%%      |   -- images/
%%      |   -- js/
%%      -- index.html
%%      -- common
%%      |   |
%%      |   -- ...
{source_pages_dir, "src/gui/pages"}.


