{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "oneprovider_node", "1.0.0", % version will be overwritten during rebar release generation
        [
            kernel,
            stdlib,
            xmerl,
            sasl,
            public_key,
            lager,
            crypto,
            ssl,
            inets,
            % Meck is needed only for development purposes, should be removed before release.
            meck,
            % All ctool deps will be included in the release package,
            % so there is no need to list them here.
            ctool,
            websocket_client,
            % n2o is a ctool dep, but it is not listed in ctool.app.src,
            % which requires this line to include it in the package (but not start it)
            {n2o, load},
            oneprovider_node
        ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "oneprovider_node"},
    {profile, embedded},
    {incl_cond, derived},
    {mod_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, oneprovider_node, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, basho_bench, [{incl_cond, exclude}]},
    {app, compiler, [{mod_cond, all}]}
]}.

{target_dir, "oneprovider_node"}.

{overlay, [
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/oneprovider_node", "bin/oneprovider_node"},
    {copy, "files/oneprovider_node.cmd", "bin/oneprovider_node.cmd"},
    {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {copy, "sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
    {copy, "../LICENSE.txt", "./"}
]}.
