%%
%% etc/sys.config
%%
%% Config for ccm distributed application
{ccm_dist_config, "{kernel,
  [{distributed, [{veil_cluster_node, 5000, ['node1@localhost', {'node2@localhost', 'node3@localhost'}]}]},
   {sync_nodes_mandatory, ['node2@localhost', 'node3@localhost']},
   {sync_nodes_timeout, 60000}
  ]
 },"
}.

%%
%% etc/vm.args
%%
%% Node name
{node, "node1@localhost"}.
%% Node type (worker or ccm)
{node_type, "ccm"}.
%% How long should ccm wait for workers before it initializes cluster
{initialization_time, 300}.