%%
%% etc/sys.config
%%
%% Config for ccm distributed application
{ccm_dist_config, "{kernel,
  [{distributed, [{veil_cluster_node, 5000, [node1@127.0.0.1, {node2@127.0.0.1, node3@127.0.0.1}]}]},
   {sync_nodes_mandatory, [node2@127.0.0.1, node3@127.0.0.1]},
   {sync_nodes_timeout, 60000}
  ]
 },"
}.

%%
%% etc/vm.args
%%
%% Node name
{node, "node1@127.0.0.1"}.
%% Node type (worker or ccm)
{node_type, "worker"}.