%%% Template used to generate vars.config for a worker node
%%%
%%% Strings replaced in this template (preceded by "$"):
%%%
%%% NODE_NAME -> name of the node
%%% CCM_LIST -> list of ccms in format [ccm1@host1, ccm2@host2, ...]
%%%
%%% note: lines including %%% will be deleted in the output file
%%%
%%
%% etc/vm.args
%% 

%% Node name
{node, "$NODE_NAME"}.

%% Node type (worker or ccm)
{node_type, "worker"}.

%% How long (in sec) should node wait before next heart beat
{heart_beat, 60}.

%% List of ccm possible ccm nodes
{ccm_nodes, "$CCM_LIST"}.

%% number of threads used by dispatcher
{dispatcher_pool_size, 100}.

%% number of port used by dispatcher
{dispatcher_port, 5555}.

%% time in ms after witch ranch kills thread that does nothing
{ranch_timeout, 5000}.

%% time in ms after witch ranch answers with error
{dispatcher_timeout, 2000}.

%% path to certificate used by ranch_ssl
{ssl_cert_path, "./veilfs.pem"}.