%%% Template used to generate vars.config for a worker node
%%%
%%% Strings replaced in this template (preceded by "$"):
%%%
%%% NODE_NAME -> name of the node
%%% CCM_LIST -> list of ccms in format [ccm1@host1, ccm2@host2, ...]
%%% DB_NODES_LIST -> list of db nodes, in format [dbnode1@host1, dbnode2@host2, ...]
%%%
%%% note: lines including %%% will be deleted in the output file
%%%
%%
%% etc/vm.args
%% 

%% Node name
{node, "$NODE_NAME"}.

%% Node type (worker or ccm)
{node_type, "worker"}.

%% How long (in sec) should node wait before next heart beat
{heart_beat, 60}.

%% List of ccm possible ccm nodes
{ccm_nodes, "$CCM_LIST"}.

%% List of all DBMS nodes
{db_nodes, "$DB_NODES_LIST"}.