{{!-- TODO: dir path or name? --}}
{{page-title (t 'data.dataSpace.dir.title')}}

<div class="files-list">
  {{data-files-list dir=model openDirInBrowser='openDirInBrowser'}}
</div>

<div class="file-upload">
  {{file-upload dir=model}}
</div>
