// TODO: box-shadow none?
.btn {
  border: none !important;
  padding: 10px 40px;

  .oneicon {
    font-size: 40px;
  }
}

.btn-primary {
  color: white !important;
  background-color: $color-button-primary;

  &:hover {
    background-color: lighten($color-button-primary, 10%);
  }

  &:active:focus, &:active:hover, &:focus, &:active {
    background-color: darken($color-button-primary, 10%);
  }
}

.btn-default {
  color: white !important;
  background-color: $color-button-default;

  &:hover {
    background-color: lighten($color-button-default, 10%);
  }

  &:active:focus, &:active:hover, &:focus, &:active {
    background-color: darken($color-button-default, 10%);
  }
}

.btn-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
