$dropdown-radius: 6px;
$dropdown-triangle-width: 8px;

$dropdown-bg: #2B3037;

.dropdown-menu {
  position: absolute;
  padding: 15px;
  background-color: $color-dropdown-menu-bg;
  border-radius: $dropdown-radius !important;
  border: none;

  &.dropdown-menu-down {
    left: auto;
    right: 0;
    min-width: 150px;

    &:before {
      position: absolute;
      top: -$dropdown-triangle-width;
      right: 10px;
      display: inline-block;
      border-right: $dropdown-triangle-width solid transparent;
      border-bottom: $dropdown-triangle-width solid $dropdown-bg;
      border-left: $dropdown-triangle-width solid transparent;
      border-bottom-color: $dropdown-bg;
      content: '';
    }
  }

  &.dropdown-menu-right {
    left: 100%;
    top: -50%;
    min-width: 150px;
    border-top-left-radius: 0 !important;

    &:before {
      position: absolute;
      // draw full left triangle
      top: $dropdown-triangle-width * 2;
      left: 2 * (-$dropdown-triangle-width);
      border-bottom: $dropdown-triangle-width solid transparent;
      border-right: $dropdown-triangle-width solid $dropdown-bg;
      border-left: $dropdown-triangle-width solid transparent;
      border-top: $dropdown-triangle-width solid transparent;
      content: '';
    }
  }

  &.dropdown-menu-settings {
    width: 200px;
    border-radius: 0px !important;

    li {
      color: white;
      padding: 4px;
      border-radius: 0px !important;

      .item-icon {
          font-size: 30px !important;
      }

      .item-label {
        font-size: 9pt !important;
        text-transform: uppercase;
      }
    }
  }

  &.dropdown-menu-list {
    font-size: inherit;
    padding: 0;

    .divider {
      // TODO: same as menu bottom line color
      background-color: rgba(255, 255, 255, 0.1);
    }

    > li:not(.divider) {
      &:first-child {
        border-top-left-radius: $dropdown-radius;
        border-top-right-radius: $dropdown-radius;
      }

      &:last-child {
        border-bottom-left-radius: $dropdown-radius;
        border-bottom-right-radius: $dropdown-radius;
      }

      > a {
        display: table;
        color: $top-font-color !important;
        padding: 10px;
        width: 100%;

        &:hover {
          color: white !important;
          background-color: transparent !important;
        }

        // TODO: only left icon
        .item-icon {
          display: table-cell;
          padding-right: 10px;
          font-size: 1.5em;
          line-height: 28px;
          vertical-align: middle;
          width: 28px;
          text-align: center;
        }

        .item-label {
          display: table-cell;
          line-height: 28px;
          vertical-align: middle;
        }
      }

      &:hover {
        background-color: $color-dropdown-menu-bg-hover;
      }
    }

    > .divider {
      padding: 0;
      margin: 0;
    }
  }

  // move start of dropdown to left for secondary sidebar select dropdown
  &.dropdown-sidebar-select {
    right: ($secondary-sidebar-item-padding - $dropdown-triangle-width/2);
  }

}
