.pointer {
  cursor: pointer;
}

#select-space {
  min-width: 200px;
}

.edit-preview {
  resize: none;
  width: 580px;
  height: 400px;
  overflow-y: auto;
  padding: 5px;
  font-size: 16px;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

textarea.disabled {
  background: #EBEBE4;
}

.modal-textbox {
  width: 500px;
}

#new-file-edit {
  margin-left: 30px;
  height: 34px;
  width: 300px;
}
