// TODO: this should be a generic stylesheet to use in deps/gui

$fixed-drop-triangle-width: 10px;
$fixed-drop-triangle-height: 12px;
// TODO: if radius is used
$fixed-drop-radius: 4px;
// TODO: experimental color, should use graphite-2 ?
$fixed-drop-bg: $onedata-graphite;
$fixed-drop-border-color: transparent;
$fixed-drop-fg: $white;

.fixed-drop {
  position: fixed;

  &.drop-right {
    &:after {
      position: absolute;
      // TODO: optional triangle centered (top: 50%) and margin-top
      // margin-top: -$provider-drop-triangle-height;
      top: $fixed-drop-triagle-height * 2;
      left: -$provider-drop-triangle-width*2 + 1;
      border-bottom: $provider-drop-triangle-height solid transparent;
      border-right: $provider-drop-triangle-width solid $fixed-drop-bg;
      border-left: $provider-drop-triangle-width solid transparent;
      border-top: $provider-drop-triangle-height solid transparent;
      content: '';
    }
  }

  &.drop-left {
    &:after {
      position: absolute;
      // TODO: optional triangle centered (top: 50%) and margin-top
      // margin-top: -$provider-drop-triangle-height;
      top: $fixed-drop-triagle-height * 2;
      right: -$provider-drop-triangle-width*2 + 1;
      border-bottom: $provider-drop-triangle-height solid transparent;
      border-right: $provider-drop-triangle-width solid transparent;
      border-left: $provider-drop-triangle-width solid $fixed-drop-bg;
      border-top: $provider-drop-triangle-height solid transparent;
      content: '';
    }
  }

  .drop-panel {
    width: 190px;
    min-height: $dropdown-triangle-height*4;
    font-size: 0.8em;
    // TODO: optional border
    // border: 1px $fixed-drop-border-color solid;
    // TODO: optional radius
    // border-radius: $provider-drop-radius;
    background-color: $fixed-drop-border-color;
    color: $fixed-drop-fg;

    .drop-body {
      padding: 8px;
      font-size: 0.9em;
      color: $fixed-drop-fg;
      // TODO: optional radius
      // border-bottom-left-radius: $provider-drop-radius;
      // border-bottom-right-radius: $provider-drop-radius;

      .btn {
        width: 100%;
        border-radius: 6px;
      }

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
        // TODO: darker/lighter/alpha
        color: $fixed-drop-fg;
      }

      ul {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 8px;
        margin-bottom: 0;

        li {
          display: table;
          height: 22px;
          line-height: 22px;

          > * {
            display: table-cell;
            color: #7B7B7B;
          }
        }
      }
    }
  }
}
