/* main container */
.onedata-notify {
}
/* message box */
.onedata-notify .callout {
}
/* classes applied for animating in/out */
.onedata-notify .ember-notify-show {}
.onedata-notify .ember-notify-hide {}

.onedata-notify {
    position: fixed;
    z-index: 5000;
    bottom: 0px;
    left: 0px;
    margin-left: 100px;
    margin-bottom: 50px;

    .ember-notify {
        display: block;
        position: relative;
        box-sizing: border-box;
        margin: 10px;
        width: 450px;
        padding: 10px;
        border: none;
        border-left-style: solid;
        border-left-width: 4px;
        // force always no radius
        border-radius: 0;
        color: white;
        background-color: $color-notify-background;
    }

    // TODO: button is on top-right when text is multiline
    .close-button {
      position: absolute;
      top: -4px;
      color: white;
      opacity: 1;
      text-shadow: none;
      right: 6px;
      font-size: 39px;
      color: white;
      cursor: pointer; cursor: hand;
    }

    .info {
      border-left-color: $color-notify-info;
    }

    .success {
      border-left-color: $color-notify-success;
    }

    .warning {
      border-left-color: $color-notify-warning;
    }

    .error {
      border-left-color: $color-notify-error;
    }

    .alert {
      border-left-color: $color-notify-alert;
    }
}
