$cell-width: $global-min-width * 0.07;

.one-table {
  .one-th,
  .one-td {
    float: left;
    // min-width: 98px; // TODO: large desktop
    width: $cell-width; // 72px; * 0.06 TODO
    max-width: $cell-width;
    text-align: center;

    &:nth-child(odd) {
      background-color: #fff;
    }

    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    &.one-first {
      width: 400px;
      text-align: left;
    }
  }

  .one-hbody {
    overflow: hidden;
    clear: both;

    .one-th:not(.one-first) {
      // force line break after each word
      word-spacing: $cell-width;
    }
  }

  .one-tbody {
    overflow: hidden;
    clear: both;

    .one-tr {
      overflow: hidden;
      clear: both;

      border-top: 1px #EDEEF0 solid;

      &:hover .one-td:nth-child(odd) {
        background-color: #f6f6f6; // TODO color - it's slightly lighter than even
      }

      .one-td {

        &.one-first {
        }

        .one-table-checkbox {
          text-align: center;
        }

        .one-table-label {
          display: none;
        }
      }
    }
  }
}
