.one-table {
  min-width: 100%;
  font-size: $table-font-size;

  .one-th,
  .one-td {
    text-align: center;

    // TODO: make dynamic
    &.one-first {
      text-align: left;
      min-width: 114px; // TODO: please do not static...
    }
  }

  .one-thead {
    .one-th {
      text-transform: uppercase;
      color: #4D5664;
      font-weight: normal;
      height: 80px;
      vertical-align: middle;

      &:nth-child(odd) {
        background-color: #fff;
      }
    }
  }

  .one-tbody {

    .one-tr {

      // TODO!
      &:hover {
        background-color: #dddddd !important;
      }

      .one-td {
        height: 46px;
        vertical-align: middle;
        text-align: center;

        &.one-first {
          text-align: left;
        }

        .one-table-checkbox {
          font-size: $table-checkbox-size;

          // TODO: icons now are another than before

          .oneicon-check {
            color: $onedata-azure;
          }

          .oneicon-discard {
            color: #B2B2B2;
          }

          .oneicon-check.modified,
          .oneicon-discard.modified {
            color: #58C232;
          }
        }

        .one-table-label {
        }
      }
    }
  }
}
