$cell-width: $global-min-width * 0.07;

// emulate HTML table
.one-table    { display: table }
.one-tr       { display: table-row }
.one-thead    { display: table-header-group }
.one-tbody    { display: table-row-group }
.one-tfoot    { display: table-footer-group }
.one-col      { display: table-column }
.one-colgroup { display: table-column-group }
.one-td, .one-th   { display: table-cell }
.one-caption  { display: table-caption }

.one-table {
  max-width: 100%;

  .one-th,
  .one-td {
    // min-width: 98px; // TODO: large desktop
    width: $cell-width; // 72px; * 0.06 TODO
    min-width: $cell-width;
    text-align: center;

    &:nth-child(odd) {
      background-color: #fff;
    }

    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    &.one-first {
      width: 100%;
      text-align: left;
    }

    // for positioning elements inside, not necessary for all cells
    .cell-body {
      display: table;
      width: 100%;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .one-thead {
    overflow: hidden;
    clear: both;

    .one-th {
      border-top: 1px #EEEEEE solid;
      border-bottom: 1px #EEEEEE solid;

      &:not(.one-first) {
        // force line break after each word
        word-spacing: $cell-width;
      }
    }
  }

  .one-tbody {
    overflow: hidden;
    clear: both;

    .one-tr {
      overflow: hidden;
      clear: both;

      &:hover .one-td:nth-child(odd) {
        background-color: #f6f6f6; // TODO color - it's slightly lighter than even
      }

      .one-td {
        border-bottom: 1px #EEEEEE solid;

        &.one-first {
        }

        .one-table-checkbox {
          text-align: center;
        }

        .one-table-label {
          display: none;
        }
      }
    }
  }
}
