.one-table {
  .one-thead .one-th,
  .one-tbody .one-td {
    float: left;
    width: 100%;
    text-align: center;
  }

  .one-thead {
    overflow: hidden;
    clear: both;

    // no header like in full table
    .one-th {
      display: none;

      // only first element of header - owner name
      &.one-first {
        display: block;
      }
    }
  }

  .one-tbody {
    .one-tr {
      .one-td {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #D0D0D0;
        padding-left: 24px + 36px; // TODO
        text-transform: uppercase;

        // the name of permissions owner
        &.one-first {
          text-transform: none;
          text-align: left;
          background-color: #D5D5D5;
          padding-left: 24px; // TODO
        }
      }

      &.active {
        .one-td {
          border-left: 4px $onedata-azure solid;
          border-top-color: #EDEEF0;

          &.one-first {
            text-align: left;
            text-transform: none;
            background-color: $onedata-light-azure;
          }
        }
      }
    }
  }
}

.one-table .one-tr .one-td.one-first {
  display: block;
}

.one-table .one-tr .one-td {
  display: none;
}

.one-table .one-tr.active .one-td {
  display: block;
  overflow: hidden;
  clear: both;
}

.one-table .one-tbody {
  overflow: hidden;
  clear: both;
}

.one-table .one-tbody .one-td .one-table-label {
  clear: both;
  float: left;
}

.one-table .one-tbody .one-td .one-table-checkbox {
  float: right;
  padding-right: 60px;
}
