%% behaviours should be compiled before other files
{erl_first_files, [
    "src/client/mock_app_description_behaviour.erl"
]}.

%% Release dir
{sub_dirs, ["rel"]}.

%% to include deps headers
{lib_dirs, ["deps"]}.

{deps, [
    {ctool, "2.0.2", {git, "${ONEDATA_GIT_URL}/ctool.git", {tag, "38ada6c8c"}}}
]}.
