%% behaviours should be compiled before other files
{erl_first_files, [
    "src/client/mock_app_description_behaviour.erl"
]}.

%% Release dir
{sub_dirs, ["rel"]}.

%% to include deps headers
{lib_dirs, ["deps"]}.

{deps, [
    {ctool, ".*", {git, "ssh://git@git.plgrid.pl:7999/vfs/ctool.git", {tag, "685f90b"}}}
]}.

{pre_hooks, [
    %% bamboos compilation
    {compile, "make -C bamboos compile"},
    {clean, "make -C bamboos clean"}
]}.
