[
  {
    "global_id": "id",
    "storage_id": "storage_id",
    "credentials": 1
  },
  {
    "global_id": "id2",
    "storage_id": "storage_id2",
    "credentials": {
      "key1": 3,
      "key2": 4
    }
  }
]