[
    % TODO this is needed to deploy oneprovider on distributed env on dockers
    % Range of ports that will be used by erlang nodes to communicate
    {kernel, [
        {inet_dist_listen_min, 9100},
        {inet_dist_listen_max, 9139}
    ]},

    %% SASL config
    {sasl, [{sasl_error_logger, false}]},

    %% logger configuration
    {lager, [
        {handlers, [
            %% show info level or higher level logs at console
            {lager_console_backend, info},
            %% rotate error log once a month (first day of month, 1 a.m) or when it reaches 1 GB; keep 1000 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/error.log"}, {level, error}, {size, 1048576000}, {date, "$M1D1"}, {count, 1000}]},
            %% rotate info log once a week (friday at 11 p.m) or when it reaches 100 MB; keep 100 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/info.log"}, {level, info}, {size, 104857600}, {date, "$W5D23"}, {count, 100}]},
            %% rotate info log once a day (at midnight) or when it reaches 10 MB; keep 10 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 10}]}
            %% {central_logging_backend, debug} todo uncomment when logging worker appears
        ]},
        {error_logger_hwm, 200},
        % When lager should change mode to synchronous (log queue is longer than async_threshold)
        {async_threshold, 500},
        % When lager should return from mode to synchronous (log queue is shorter than (async_threshold - async_threshold_window)
        {async_threshold_window, 50}
    ]},

    %% cluster_worker config
    {cluster_worker, [

        %% ===================================================================
        %% PLUGINS
        %% ===================================================================

        % names of modules implementing given plugins
        {datastore_config_plugin, datastore_config_plugin},
        {node_manager_plugin, node_manager_plugin},
        {dns_worker_plugin, dns_worker_plugin},

        %% ===================================================================
        %% DNS
        %% ===================================================================

        %% DNS port
        {dns_port, 53},
        %% How long dns response of type A remains valid (in sec)
        {dns_a_response_ttl, 60},
        %% How long dns response of type NS remains valid (in sec)
        {dns_ns_response_ttl, 600},
        %% Maximum supported UDP size, that will be advertised by the server (via EDNS). If a client advertises a bigger
        %% value, it will be assumed to be as high as this.
        {edns_max_udp_size, 1280},
        %% Number of dns tcp acceptors
        {dns_tcp_acceptor_pool_size, 20},
        %% Time (in sec) after which dns closes idle connection
        {dns_tcp_timeout_seconds, 20}
    ]},

    %% op_worker config
    {op_worker, [
        %% ===================================================================
        %% GENERAL
        %% ===================================================================

        %% List of possible cluster manager nodes - configured automatically by configurator.erl lib, used in GEN_DEV script
        {cm_nodes, ['cm@127.0.0.1']},
        %% List of all DBMS nodes - configured automatically by configurator.erl lib, used in GEN_DEV script
        {db_nodes, ['127.0.0.1:49161']},
        %% Domain of the provider. If provider node names are not in the domain,
        %% the application won't start.
        {provider_domain, "localhost.local"},
        %% Path to certificate used by ranch_ssl in gui handler
        {web_ssl_cert_path, "{{platform_etc_dir}}/certs/onedataServerWeb.pem"},
        %% Path to certificate used by ranch_ssl in fuse clients handler
        {protocol_handler_ssl_cert_path, "{{platform_etc_dir}}/certs/onedataServerFuse.pem"},
        %% Prefix to directory containing NIF libs
        {nif_prefix, "priv"},

        %% ===================================================================
        %% DISPATCHER
        %% ===================================================================

        %% Number of threads used by dispatcher
        {protocol_handler_pool_size, 100},
        %% Number of port used by dispatcher
        {protocol_handler_port, 5555},
        %% Number of port used by provider-to-provider endpoint
        {provider_protocol_handler_port, 5556},
        %% Bind address of protocol handler ('all' = 0.0.0.0, 'loopback' = 127.0.0.1)
        {protocol_handler_bind_addr, loopback},
        %% Path to dir containing CA and CRL certs used by GSI handler
        {ca_dir, "{{platform_etc_dir}}/cacerts"},
        %% Path to dir containing server certs used by GSI handler
        {certs_dir, "{{platform_etc_dir}}/certs"},
        %% Interval in minutes between CRL updates done by GSI handler
        {crl_update_interval_minutes, 60},
        %% List of ports used by application and required to be free during
        %% installation process.
        {application_ports, [53, 80, 443, 5555, 8443]},

        %% ===================================================================
        %% GUI
        %% ===================================================================

        %% Port on which gui is available
        {gui_https_port, 443},
        %% Number of accepting processes in gui listener
        {gui_number_of_acceptors, 100},
        %% Number of accepting processes on port 80 (redirecting to https)
        {gui_number_of_http_acceptors, 20},
        %% Maximum number of HTTP requests without closing the connection (HTTP/1.1 only)
        {gui_max_keepalive, 30},
        %% Socket timeout in sec
        {gui_socket_timeout_seconds, 60},
        %% GUI cookie TTL in sec
        {gui_session_ttl_seconds, 3600},
        %% Buffer size used to send files to a web client, in bytes.
        {gui_download_buffer, 4194304}, % 4MB
        %% Directory where op-worker tries to find static files of a custom GUI.
        %% If the directory is not empty, it will serve the static files
        %% from it. If not, it will fall back to default, embedded GUI.
        {gui_custom_static_root, "/var/www/html"},
        %% Directory where static files of default, embedded GUI are kept.
        %% Used when gui_custom_static_root is non-existent or empty.
        {gui_default_static_root, "{{platform_data_dir}}/gui_static"},


        %% ===================================================================
        %% FILE UPLOAD
        %% ===================================================================

        %% How many bytes will be read from socket at once during upload.
        {upload_read_size, 100000},
        %% Timeout for reading upload_read_size bytes from socket.
        {upload_read_timeout, 300000},
        %% How many bytes will be written to filesystem at once during upload.
        %% Such chunk will be accumulated using
        %% multiple reads of upload_read_size.
        {upload_write_size, 1000000},


        %% ===================================================================
        %% REST
        %% ===================================================================

        %% Port on which REST API is available
        {rest_port, 8443},
        %% Number of accepting processes in REST listener
        {rest_number_of_acceptors, 100},
        %% Socket timeout in sec
        {rest_socket_timeout_seconds, 60},

        %% List of protocols which will be available on http_worker_rest_port.
        {protocol_plugins, [rest_protocol_plugin, cdmi_protocol_plugin]},

        %% ===================================================================
        %% CDMI
        %% ===================================================================

        %% Size of download buffer. Currently set to 8MB.
        {download_buffer_size, 8388608},
        %% Maximum amount of directory children that can be requested in one request
        {max_children_per_request, 1000},

        %% ===================================================================
        %% SEQUENCER_MANAGER
        %% ===================================================================

        %% Maximal amount of messages that can be forwarded by sequencer
        %% stream between successive emissions of acknowledgement messages.
        {sequencer_stream_msg_ack_threshold, 100},
        %% Amount of seconds that have to elapse before sending next request
        %% when waiting for missing messages.
        {sequencer_stream_msg_req_short_timeout_seconds, 1},
        %% Amount of seconds that have to elapse before sending next request
        %% when not waiting for missing messages.
        {sequencer_stream_msg_req_long_timeout_seconds, 10},
        %% Amount of seconds that have to elapse before next attempt to send
        %% message by sequencer out stream.
        {sequencer_stream_msg_send_retry_delay_seconds, 5},

        %% ===================================================================
        %% SESSION_WATCHER
        %% ===================================================================

        %% Maximal period of FUSE session inactivity before removal
        {fuse_session_ttl_seconds, 300},
        %% Maximal period of REST session inactivity before removal
        {rest_session_ttl_seconds, 3600},
        %% Maximal period of Provider's session inactivity before removal
        {provider_session_ttl_seconds, 3600},
        %% NOTE! GUI session TTL is managed by 'gui_session_ttl_seconds' env
        %% defined in GUI section.

        %% ===================================================================
        %% OZ INTERFACING
        %% ===================================================================

        %% Indicates if OZ cert should be verified against system's CA bundle.
        %% If this is set to true and CA bundle cannot be found, provider
        %% application won't start at all.
        {verify_oz_cert, true},
        %% OZ hostname
        {oz_domain, "onedata.org"},
        %% OZ login page (relative to domain)
        {oz_login_page, "/#/home/login"},
        %% OZ logout page (relative to domain)
        {oz_logout_page, "/#/home/logout"},
        %% OZ manage providers page (relative to domain)
        {oz_providers_page, "/#/onezone"},
        %% Path to .pem file containing the original CSR to be signed by OZ
        {oz_provider_csr_path, "{{platform_etc_dir}}/certs/grpcsr.pem"},
        %% Path to .pem file containing the private key to the grpcert
        {oz_provider_key_path, "{{platform_etc_dir}}/certs/grpkey.pem"},
        %% Path to .pem file containing the certificate signed by OZ CA, used for authorizing requests to it
        {oz_provider_cert_path, "{{platform_etc_dir}}/certs/grpcert.pem"},
        %% Path to .pem file containing the OZ CA certificate
        {oz_ca_cert_path, "{{platform_etc_dir}}/cacerts/grpCA.pem"},
        %% OZ REST API port
        {oz_rest_port, 8443},

        %% ===================================================================
        %% SUBSCRIPTIONS
        %% ===================================================================

        %% OZ WSS port
        {oz_wss_port, 7443},
        {subscriptions_history_lenght_limit, 50},
        {subscription_renew_seconds, 60},

        %% ===================================================================
        %% FSLOGIC
        %% ===================================================================

        %% User/Group storage ID mapping boundaries
        {lowest_generated_storage_uid, 100000},
        {highest_generated_storage_uid, 2000000},

        %% Write event configuration
        {default_write_event_counter_threshold, 100},
        {default_write_event_time_threshold_miliseconds, 500},
        {default_write_event_size_threshold, 10485760}, %% 10MB

        %% Write event configuration
        {default_read_event_counter_threshold, 100},
        {default_read_event_time_threshold_miliseconds, 500},
        {default_read_event_size_threshold, 10485760}, %% 10MB

        %% Default values
        {default_dir_mode, 8#775},
        {default_file_mode, 8#664},

        %% Default number of listed children in lfm:get_children_count
        {ls_chunk_size, 100},

        %% Default size of file content chunk copied at once in fslogic_rename
        {rename_file_chunk_size, 102400}, %% 100kB

        %% Number of bytes that can be accepted by provider over quota limit before all write requests become ignored
        {soft_quota_limit_size, 1073741824}, %% 1GB


        %% ===================================================================
        %% RTRANSFER
        %% ===================================================================
        %% Tells if rtransfer should be started on fslogic_worker init
        {start_rtransfer_on_init, true},

        %% ===================================================================
        %% HELPERS
        %% ===================================================================

        %% Number of threads used by direct IO helper
        {direct_io_helper_threads_number, 100},
        %% Number of threads used by Ceph helper
        {ceph_helper_threads_number, 100},
        %% Number of threads used by S3 helper
        {s3_helper_threads_number, 100},

        %% ===================================================================
        %% LUMA
        %% ===================================================================

        %% Switch between op-worker credentials management and LUMA
        {enable_luma_proxy, false},
        %% Hostname on which LUMA server works
        {luma_hostname, '127.0.0.1'},
        %% Port of LUMA server
        {luma_port, 5000},

        %% ===================================================================
        %% PREFETCHING
        %% ===================================================================

        %% Sync requests which are smaller will be extended to 4MB
        {minimal_sync_request, 4194304},
        %% Synchronization of byte 0, 50MB, 100MB etc. will trigger prefetching
        {trigger_byte, 52428800},
        %% Amount of data to prefetch at once
        {prefetch_size, 104857600}
    ]}
].