[
    % TODO this is needed to deploy oneprovider on distributed env on dockers
    % Range of ports that will be used by erlang nodes to communicate
    {kernel,[
        {inet_dist_listen_min, 9100},
        {inet_dist_listen_max, 9139}
    ]},

    %% SASL config
    {sasl, [{sasl_error_logger, false}]},

    %% logger configuration
    {lager, [
        {handlers, [
            %% show info level or higher level logs at console
            {lager_console_backend, info},
            %% rotate error log once a month (first day of month, 1 a.m) or when it reaches 1 GB; keep 1000 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/error.log"}, {level, error}, {size, 1048576000}, {date, "$M1D1"}, {count, 1000}]},
            %% rotate info log once a week (friday at 11 p.m) or when it reaches 100 MB; keep 100 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/info.log"}, {level, info}, {size, 104857600}, {date, "$W5D23"}, {count, 100}]},
            %% rotate info log once a day (at midnight) or when it reaches 10 MB; keep 10 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 10}]}
            %% {central_logging_backend, debug} todo uncomment when logging worker appears
        ]},
        {error_logger_hwm, 200},
        % When lager should change mode to synchronous (log queue is longer than async_threshold)
        {async_threshold, 500},
        % When lager should return from mode to synchronous (log queue is shorter than (async_threshold - async_threshold_window)
        {async_threshold_window, 50}
    ]},

    %% op_worker config
    {op_worker, [
        %% ===================================================================
        %% GENERAL
        %% ===================================================================

        %% Domain of the provider. If provider node names are not in the domain,
        %% the application won't start.
        {provider_domain, "localhost.local"},
        %% List of possible ccm nodes - configured automatically by configurator.erl lib, used in GEN_DEV script
        {ccm_nodes, ['ccm@127.0.0.1']},
        %% List of all DBMS nodes - configured automatically by configurator.erl lib, used in GEN_DEV script
        {db_nodes, ['127.0.0.1:49161']},
        %% List of absolute paths to storages used by workers.
        {storage_paths, []},
        %% How long (in ms) should worker wait between heartbeats (when connected to ccm)
        {heartbeat_interval, 500},
        %% How long (in ms) should worker wait between next connection try (when not registered in ccm)
        {ccm_connection_retry_period, 1000},
        %% Memory size which stores information about worker load
        {worker_load_memory_size, 1000},
        %% Path to certificate used by ranch_ssl in gui handler
        {web_ssl_cert_path, "{{platform_etc_dir}}/certs/onedataServerWeb.pem"},
        %% Path to certificate used by ranch_ssl in fuse clients handler
        {protocol_handler_ssl_cert_path, "{{platform_etc_dir}}/certs/onedataServerFuse.pem"},
        %% Prefix to directory containing NIF libs
        {nif_prefix, "priv"},
        %% Ports used by application, that need to be free before oneprovider node can start
        {ports_in_use, [http_worker_https_port, http_worker_redirect_port, dns_port, protocol_handler_port, http_worker_rest_port]},
        %% Memory usage level above which caches will be cleared
        {mem_to_clear_cache, 80},
        %% The memory will be cleared once a period defined in this variable, even when usage level is acceptable
        {clear_cache_max_period_ms, 86400}, % 1 day
        %% How often node manager checks if caches cleaning is needed
        {check_mem_interval_minutes, 5},
        %% List of beam directories to be covered, cover is not started if list is empty
        {covered_dirs, []},
        %% List of modules to be excluded during cover analysis
        {covered_excluded_modules, []},
        %% Minimal delay in cache dumping to disk (changes done before this time causes cancelation of dump)
        {cache_to_disk_delay_ms, 5000},
        %% Maximal delay in cache dumping to disk
        {cache_to_disk_force_delay_ms, 30000},
        %% Period between checkings of tasks lists (to find tasks without owner)
        {task_checking_period_minutes, 5},
        %% How long task should wait between function calls (when function execution ends with error)
        {task_fail_sleep_time_ms, 1000},

        %% ===================================================================
        %% DISPATCHER
        %% ===================================================================

        %% Number of threads used by dispatcher
        {protocol_handler_pool_size, 100},
        %% Number of port used by dispatcher
        {protocol_handler_port, 5555},
        %% Bind address of protocol handler ('all' = 0.0.0.0, 'loopback' = 127.0.0.1)
        {protocol_handler_bind_addr, loopback},
        %% path to dir containing CA and CRL certs used by GSI handler
        {ca_dir, "{{platform_etc_dir}}/cacerts"},
        %% path to dir containing server certs used by GSI handler
        {certs_dir, "{{platform_etc_dir}}/certs"},
        %% the interval in minutes between CRL updates done by GSI handler
        {crl_update_interval_minutes, 60},

        %% ===================================================================
        %% HTTP_WORKER
        %% ===================================================================

        %% Port on which http_worker is available
        {http_worker_https_port, 443},
        %% Port on which standard HTTP will be opened to redirect requests to HTTPS
        {http_worker_redirect_port, 80},
        %% Port on which REST API is available
        {http_worker_rest_port, 8443},
        %% Directory in release where static gui files are stored
        {http_worker_static_files_root, "{{platform_data_dir}}/gui_static"},
        %% Number of accepting processes in http_worker listener
        {http_worker_number_of_acceptors, 100},
        %% Number of accepting processes on port 80 (redirecting to https)
        {http_worker_number_of_http_acceptors, 50},
        %% Maximum number of HTTP requests without closing the connection (HTTP/1.1 only)
        {http_worker_max_keepalive, 30},
        %% Socket timeout in sek
        {http_worker_socket_timeout_seconds, 60},

        %% Time in ms after healthcheck is considered failed
        {nagios_healthcheck_timeout, 5000},
        %% Answers from nagios will be cached for maximum of this time (in ms) and served from cache.
        %% The reason is that a healthcheck can generate a considerable traffic.
        {nagios_caching_time, 500},
        %% Time in ms that must have passed since last update of dispatcher
        %% or DNS to assume they are out of sync.
        {dns_disp_out_of_sync_threshold, 10000},
        %% List of protocols which will be available on http_worker_rest_port.
        {protocol_plugins, [rest_protocol_plugin, cdmi_protocol_plugin]},

        %% ===================================================================
        %% DNS
        %% ===================================================================

        %% DNS port
        {dns_port, 53},
        %% How long dns response of type A remains valid (in sec)
        {dns_a_response_ttl, 60},
        %% How long dns response of type NS remains valid (in sec)
        {dns_ns_response_ttl, 600},
        %% Maximum supported UDP size, that will be advertised by the server (via EDNS). If a client advertises a bigger
        %% value, it will be assumed to be as high as this.
        {edns_max_udp_size, 1280},
        %% Number of dns tcp acceptors
        {dns_tcp_acceptor_pool_size, 20},
        %% Time (in sec) after which dns closes idle connection
        {dns_tcp_timeout_seconds, 20},

        %% ===================================================================
        %% SEQUENCER_MANAGER
        %% ===================================================================

        %% Maximal amount of messages that can be forwarded by sequencer
        %% stream between successive emissions of acknowledgement messages
        {sequencer_stream_messages_ack_window, 100},
        %% Maximal delay in seconds between successive emissions of
        %% acknowledgement messages
        {sequencer_stream_seconds_ack_window, 30},

        %% ===================================================================
        %% GLOBAL REGISTRY INTERFACING
        %% ===================================================================

        %% Global Registry hostname.
        {global_registry_domain, "onedata.org"},
        %% Path to .pem file containing the orginal CSR to be signed by GR.
        {global_registry_provider_csr_path, "{{platform_etc_dir}}/certs/grpcsr.pem"},
        %% Path to .pem file containing the private key to the grpcert.
        {global_registry_provider_key_path, "{{platform_etc_dir}}/certs/grpkey.pem"},
        %% Path to .pem file containing the certificate signed by Global Registry CA, used for authorizing requests to it.
        {global_registry_provider_cert_path, "{{platform_etc_dir}}/certs/grpcert.pem"},
        %% Path to .pem file containing the Global Registry CA certificate.
        {global_registry_ca_cert_path, "{{platform_etc_dir}}/cacerts/grpCA.pem"},
        %% Global Registry REST API port.
        {global_registry_rest_port, 8443},


        %% ===================================================================
        %% FSLOGIC
        %% ===================================================================

        %% User/Group storage ID mapping boundaries
        {lowest_generated_storage_uid, 100000},
        {highest_generated_storage_uid, 2000000},

        %% Write event configuration
        {default_write_event_counter_threshold, 100},
        {default_write_event_time_threshold_miliseconds, 500},
        {default_write_event_size_threshold, 10485760}, %% 10MB

        %% ===================================================================
        %% DATASTORE
        %% ===================================================================

        %% Persistence driver to use in datastore.
        %% Supported values: couchbase_datastore_driver, riak_datastore_driver
        {persistence_driver_module, 'couchbase_datastore_driver'}
    ]}
].

