[
    % TODO this is needed to deploy oneprovider on distributed env on dockers
    % Range of ports that will be used by erlang nodes to communicate
    {kernel, [
        {inet_dist_listen_min, 9100},
        {inet_dist_listen_max, 9139}
    ]},

    %% SASL config
    {sasl, [{sasl_error_logger, false}]},

    %% logger configuration
    {lager, [
        {colored, true},
        {handlers, [
            %% show info level or higher level logs at console
            {lager_console_backend, [{level, info}, {formatter, lager_default_formatter},
                                     {formatter_config, [color, "[", sev, " ", time, " ", pid, "] ", message, "\e[0m\r\n"]}]},
            %% rotate error log when it reaches 50 MB; keep 10 rotated logs
            {lager_file_backend, [
                {file, "{{platform_log_dir}}/error.log"},
                {level, error},
                {size, 52428800},
                {count, 10},
                {formatter, lager_default_formatter},
                {formatter_config, ["[", sev, " ", date, " ", time, " ", pid, "] ", message, "\n"]}
            ]},
            %% rotate info log when it reaches 50 MB; keep 10 rotated logs
            {lager_file_backend, [
                {file, "{{platform_log_dir}}/info.log"},
                {level, info},
                {size, 52428800},
                {count, 10},
                {formatter, lager_default_formatter},
                {formatter_config, ["[", sev, " ", date, " ", time, " ", pid, "] ", message, "\n"]}
            ]},
            %% rotate debug log when it reaches 50 MB; keep 10 rotated logs
            {lager_file_backend, [
                {file, "{{platform_log_dir}}/debug.log"},
                {level, debug},
                {size, 52428800},
                {count, 10},
                {formatter, lager_default_formatter},
                {formatter_config, ["[", sev, " ", date, " ", time, " ", pid, "] ", message, "\n"]}
            ]}
        ]},
        % Limit for the number of messages per second allowed from error_logger
        {error_logger_hwm, 200},
        % When lager should change mode to synchronous (log queue is longer than async_threshold)
        {async_threshold, 500},
        % When lager should return from synchronous mode to asynchronous (log queue is shorter than (async_threshold - async_threshold_window)
        {async_threshold_window, 50}
    ]},

    %% mnesia config
    {mnesia, [
        {dump_log_write_threshold, 50000}
    ]},

    %% cluster_worker config
    {cluster_worker, [

        %% External IP of this node - used by DNS and for inter-provider communication
        %% can be set to a tuple or string, for example:
        %% {external_ip, {10,0,0,1}}, or:
        %% {external_ip, "10.0.0.1"},
        {external_ip, undefined},

        %% ===================================================================
        %% PLUGINS
        %% ===================================================================

        % names of modules implementing given plugins
        {datastore_config_plugin, datastore_config_plugin},
        {node_manager_plugin, node_manager_plugin},

        % Number of tp subtrees
        % (tree of tp_servers is divided into several subtrees)
        {tp_subtrees_number, 20},
        % Enable handling of link and doc calls in single tp proc
        {aggregate_tp, true},
        % Size of tp key space (0 - unlimited)
        {tp_space_size, 2000},

        {datastore_cache_size, [
            {memory, 50000},
            {disc, 50000}
        ]},
        %% Maps to an 'order' parameter of a bp_tree library
        {datastore_links_tree_order, 128},

        {couchbase_durability_interval, 500},
        {couchbase_pool_size, [
            {'_', [
                {read, 5},
                {write, 20},
                {changes, 3}
            ]}
        ]},
        {couchbase_pool_batch_size, 1000},
        {couchbase_pool_max_batch_size, 2000},
        {couchbase_pool_min_batch_size, 250},

        % Throttlers configuration
        % % Each parameter has 3 config values:
        % - expected - expected value of parameter
        %       (no throttling for lower values),
        % - limit - requests are blocked when limit is reached,
        % - strength (higher strength results in higher delay when
        %       expected value is exceeded).
        % There are 6 parameters:
        % - tp_proc - max number of tp processes in tp subtree,
        % - db_queue_max - max number of documents in db queue,
        % - flush_queue - number of documents in couchbase disk write queue,
        % - db_queue_sum - sum of numbers of documents in all db queue +
        %       number of documents in couchbase disk write queue +
        %       number of documents waiting to be flushed in tp processes,
        % - tp_size - number of documents waiting to be flushed in tp processes,
        % - memory - memory usage in percent.
        {throttling_config, [
            {import, [
                {base_time_ms, 40960},
                {strength, 50},
                {db_queue_max_expected, 4000},
                {tp_size_sum_expected, 30000}
            ]},
            {default, [
                {base_time_ms, 40960},
                {strength, 20},
                {tp_param_strength, 1},
                {db_max_param_strength, 1},
                {flush_queue_param_strength, 1},
                {db_sum_param_strength, 0},
                {tp_size_sum_param_strength, 1},
                {mem_param_strength, 0},
                {tp_proc_expected, 20000},
                {tp_proc_limit, 40000},
                {db_queue_max_expected, 8000},
                {db_queue_max_limit, 20000},
                {db_flush_queue_expected, 200000},
                {db_flush_queue_limit, 500000},
                {db_queue_sum_expected, 40000},
                {db_queue_sum_limit, 100000},
                {tp_size_sum_expected, 500000},
                {tp_size_sum_limit, 1000000},
                {memory_expected, 90},
                {memory_limit, 95}
            ]}
        ]},

        %% Number of tp processes to reduce tp process idle time
        {throttling_reduce_idle_time_memory_proc_number, 2000},
        {throttling_min_idle_time_memory_proc_number, 10000},

        %% ===================================================================
        %% Logs
        %% ===================================================================

        {monitoring_log_file, "{{platform_log_dir}}/node_manager_monitoring.log"},
        {throttling_log_file, "{{platform_log_dir}}/throttling_monitoring.log"},

        %% ===================================================================
        %% Graphite config
        %% ===================================================================

        {counter_name_prefixes, [comp, op_worker]},

        %% Should graphite reporter be active and namespaces used
        {integrate_with_graphite, false},
        %% address of graphite db
        {graphite_host, "172.17.0.2"},
        %% graphite port
        {graphite_port, 2003},
        %% api key for graphite
        {graphite_api_key, <<"example_key">>},
        %% graphite metrics prefix
        {graphite_prefix, <<"onedata">>},
        %% graphite connection timeout
        {graphite_connect_timeout, 5000}
    ]},

    %% op_worker config
    {op_worker, [
        %% ===================================================================
        %% PORTS
        %% ===================================================================

        %% Port on which gui is available
        {gui_https_port, 443},
        %% OZ REST API port
        {oz_rest_port, 443},
        %% Port number in Onezone where Graph Sync server is hosted
        {graph_sync_port, 443},


        %% ===================================================================
        %% GENERAL
        %% ===================================================================

        %% List of possible cluster manager nodes - configured automatically by configurator.erl lib, used in GEN_DEV script
        {cm_nodes, ['cm@127.0.0.1']},
        %% List of all DBMS nodes - configured automatically by configurator.erl lib, used in GEN_DEV script
        {db_nodes, ['127.0.0.1:49161']},

        % Build version in form:
        % <number of commits since last tag>-g<last commit hash abbrev>
        % e.g. 19-g0d0fd5b
        {build_version, "{{{build_version}}}"},

        % Compatible versions of services with whom it is possible to connect
        {compatible_oz_versions, ["18.02.0-beta1", "18.02.0-beta2",
            "18.02.0-beta3", "18.02.0-beta4", "18.02.0-beta5"]},
        {compatible_op_versions, ["18.02.0-beta3", "18.02.0-beta4", "18.02.0-beta5"]},
        {compatible_oc_versions, ["18.02.0-beta1", "18.02.0-beta2",
            "18.02.0-beta3", "18.02.0-beta4", "18.02.0-beta5"]},


        %% ===================================================================
        %% Server certificates
        %% ===================================================================

        %% NOTE: below envs are overwritten by onepanel during deployment. You
        %% should always use onepanel to manage web certs, unless you really
        %% know what you are doing.
        %% Path to private key used by web server
        {web_key_file, "{{platform_etc_dir}}/certs/web_key.pem"},
        %% Path to certificate used by web server
        {web_cert_file, "{{platform_etc_dir}}/certs/web_cert.pem"},
        %% Path to certificate chain file used by web server
        {web_cert_chain_file, "{{platform_etc_dir}}/certs/web_chain.pem"},


        %% Path to directory with trusted CA certificates
        {cacerts_dir, "{{platform_etc_dir}}/cacerts"},

        %% Set level of security for inter-provider connections. Possible values:
        %%      true - provider's web certificate is checked against known CA's and
        %%          its domain is verified (cert must be issued for that domain).
        %%      only_verify_peercert - provider's web certificate is checked against
        %%          known CA's, but its domain is ignored - useful when providers do
        %%          not have assigned domains and use IP addresses, but less safe.
        %%      false - no security checks are performed, which creates a risk
        %%          of provider impersonation - use with care!
        {interprovider_connections_security, true},

        %% ===================================================================
        %% Provider protocol
        %% ===================================================================

        %% Number of acceptors for protocol listener
        {protocol_handler_pool_size, 100},

        %% ===================================================================
        %% GUI
        %% ===================================================================

        %% Number of accepting processes in gui listener
        {gui_number_of_acceptors, 100},
        %% Maximum number of HTTP requests without closing the connection (HTTP/1.1 only)
        {gui_max_keepalive, 30},
        %% Socket timeout in sec
        {gui_socket_timeout_seconds, 60},
        %% GUI cookie TTL in sec
        {gui_session_ttl_seconds, 3600},
        %% Buffer size used to send files to a web client, in bytes.
        {gui_download_buffer, 4194304}, % 4MB
        %% Directory where op-worker tries to find static files of a custom GUI.
        %% If the directory is not empty, it will serve the static files
        %% from it. If not, it will fall back to default, embedded GUI.
        {gui_custom_static_root, "/var/www/html/op_worker"},
        %% Directory where static files of default, embedded GUI are kept.
        %% Used when gui_custom_static_root is non-existent or empty.
        {gui_default_static_root, "{{platform_data_dir}}/gui_static"},
        %% List of HTTP headers that will be send with every response.
        {gui_response_headers, [
            {<<"X-Frame-Options">>, <<"SAMEORIGIN">>}
%%            {<<"Strict-Transport-Security">>, <<"max-age=31536000; includeSubDomains">>}
        ]},
        %% How many files will be displayed in gui data browser at once.
        %% If there are more files in the directory, they will be downloaded
        %% on demand when the user scrolls down near the bottom of the list.
        {gui_file_children_chunk_size, 50},

        %% Time of inactivity (no bytes sent), in seconds, before removing
        %% connection between providers on space transfers map.
        {gui_transfer_inactivity_treshold, 20},
        %% Time (in ms) for which space transfers minute stats are cached.
        {gui_transfer_min_stat_expiration, 5000},
        %% Time (in ms) for which space transfers hour stats are cached.
        {gui_transfer_hour_stat_expiration, 10000},
        %% Time (in ms) for which space transfers day stats are cached.
        {gui_transfer_day_stat_expiration, 60000},
        %% Time (in ms) for which space transfers month stats are cached.
        {gui_transfer_month_stat_expiration, 300000},


        %% ===================================================================
        %% FILE UPLOAD
        %% ===================================================================

        %% Maximum timeout after which body read from request is passed to
        %% upload handler process. Note that the body is returned immediately
        %% if its size reaches the buffer size (upload_write_size).
        {upload_read_period, 5000},
        %% Timeout for reading upload_read_size bytes from socket.
        {upload_read_timeout, 300000},
        %% How many bytes will be written to filesystem at once during upload.
        %% Such chunk will be accumulated using
        %% multiple reads of upload_read_size.
        {upload_write_size, 1000000},


        %% ===================================================================
        %% REST
        %% ===================================================================

        %% List of protocols which will be available on http_worker_rest_port.
        {protocol_plugins, [rest_protocol_plugin, cdmi_protocol_plugin]},

        %% ===================================================================
        %% CDMI
        %% ===================================================================

        %% Size of download buffer. Currently set to 8MB.
        {download_buffer_size, 8388608},
        %% Maximum amount of directory children that can be requested in one request
        {max_children_per_request, 1000},

        %% ===================================================================
        %% SEQUENCER_MANAGER
        %% ===================================================================

        %% Maximal amount of messages that can be forwarded by sequencer
        %% stream between successive emissions of acknowledgement messages.
        {sequencer_stream_msg_ack_threshold, 100},
        %% Amount of seconds that have to elapse before sending next request
        %% when waiting for missing messages.
        {sequencer_stream_msg_req_short_timeout_seconds, 1},
        %% Amount of seconds that have to elapse before sending next request
        %% when not waiting for missing messages.
        {sequencer_stream_msg_req_long_timeout_seconds, 10},

        %% ===================================================================
        %% SESSION_WATCHER
        %% ===================================================================

        %% Maximal period of FUSE session inactivity before removal
        {fuse_session_ttl_seconds, 300},
        %% Maximal period of REST session inactivity before removal
        {rest_session_ttl_seconds, 3600},
        %% Maximal period of Provider's session inactivity before removal
        {provider_session_ttl_seconds, 3600},
        %% NOTE! GUI session TTL is managed by 'gui_session_ttl_seconds' env
        %% defined in GUI section.

        %% ===================================================================
        %% OZ INTERFACING
        %% ===================================================================

        %% OZ hostname
        {oz_domain, "onedata.org"},
        %% OZ login page (relative to domain)
        {oz_login_page, "/#/home/login"},
        %% OZ logout page (relative to domain)
        {oz_logout_page, "/#/home/logout"},
        %% OZ manage providers page (relative to domain)
        {oz_providers_page, "/#/onezone"},
        %% OZ REST API prefix
        {oz_rest_api_prefix, "/api/v3/onezone"},
        %% Tokens used by provider will be confined to this TTL for security
        {provider_macaroon_ttl_sec, 900},
        %% Authorization nonces generated by provider
        %% will have this TTL for security
        {provider_authorization_nonce_ttl_sec, 30},

        %% ===================================================================
        %% FSLOGIC
        %% ===================================================================

        %% Events configuration
        {file_read_event_time_threshold_milliseconds, 1000},
        {file_written_event_time_threshold_milliseconds, 1000},

        %% Default values
        {default_dir_mode, 8#775},
        {default_file_mode, 8#664},

        %% Default number of listed children in lfm:get_children_count
        {ls_chunk_size, 5000},

        %% Default size of file content chunk copied at once in rename_req
        {rename_file_chunk_size, 8388608}, %% 8MB

        %% Number of bytes that can be accepted by provider over quota limit before all write requests become ignored
        {soft_quota_limit_size, 1073741824}, %% 1GB

        %% Max number of processes that are used to handle read_dir_plus request
        {max_read_dir_plus_procs, 200},

        %% ===================================================================
        %% EVENTS
        %% ===================================================================

        %% Max retries to send event to stream
        {event_manager_retries, 1},
        %% Should log errors during sending events to stream
        {log_event_manager_errors, false},
        %% Retry to send event to stream after this time
        {event_manager_retry_after, 1000},

        %% ===================================================================
        %% RTRANSFER
        %% ===================================================================
        %% Tells if rtransfer should be started on fslogic_worker init
        {start_rtransfer_on_init, true},
        %% Possible values - sync, async, off
        {force_rtransfer_gc, async},
        %% How many simultaneous operations can be performed per gateway_connection
        {gateway_connection_load_factor, 1},
        %% Default rtransfer_block_size
        %% Warning: gateway_connection_load_factor * rtransfer_block_size
        %% should be less than half of +hmax option in vm.args.template,
        {rtransfer_block_size, 26214400}, % 25 MB

        %% ===================================================================
        %% HELPERS
        %% ===================================================================

        %% Default timeout for the storage helper asynchronous operation
        {helpers_async_operation_timeout_milliseconds, 30000},
        %% Max latency for the proxy helper operations
        {proxy_helper_latency_milliseconds, 5000},
        %% Number of parallel POSIX helper threads.
        {posix_helper_threads_number, 8},
        %% Number of parallel Ceph helper threads.
        {ceph_helper_threads_number, 8},
        %% Number of parallel S3 helper threads.
        {s3_helper_threads_number, 8},
        %% Number of parallel Swift helper threads.
        {swift_helper_threads_number, 8},
        %% Number of parallel GlusterFS helper threads.
        {glusterfs_helper_threads_number, 8},
        %% Number of parallel Null Device helper threads.
        {nulldevice_helper_threads_number, 8},
        %% Defines whether buffer storage helpers read/write operations.
        {buffer_helpers, false},
        %% Number of parallel buffer scheduler threads.
        {buffer_scheduler_threads_number, 1},
        %% Minimum size in bytes of in-memory cache for input data blocks.
        {read_buffer_min_size, 5242880}, % 5MB
        %% Maximum size in bytes of in-memory cache for input data blocks.
        {read_buffer_max_size, 10485760}, % 10MB
        %% Read ahead period in seconds of in-memory cache for input data blocks.
        {read_buffer_prefetch_duration, 1}, % 1s
        %% Minimum size in bytes of in-memory cache for output data blocks.
        {write_buffer_min_size, 20971520}, % 20MB
        %% Maximum size in bytes of in-memory cache for output data blocks.
        {write_buffer_max_size, 52428800}, % 50MB
        %% Idle period in seconds before flush of in-memory cache for output data blocks.
        {write_buffer_flush_delay, 5}, % 5s

        %% ===================================================================
        %% HELPERS PERFORMANCE MONITORING
        %% ===================================================================

        %% Performance monitoring enable flag.
        {helpers_performance_monitoring_enabled, false},
        %% Performance monitoring type, currently only 'graphite' is supported.
        {helpers_performance_monitoring_type, "graphite"},
        %% Performance monitoring level, either 'basic' or 'full'. Basic mode reports
        %% raw counter and timer values, while full reports precomputed averages, rates and
        %% throughputs.
        {helpers_performance_monitoring_level, "full"},
        %% Performance monitoring reporting period, in seconds.
        {helpers_performance_monitoring_period, 30},

        %% ===================================================================
        %% LUMA
        %% ===================================================================

        %% User/Group storage ID mapping boundaries
        {luma_posix_uid_range, {100000, 2000000}},
        {luma_posix_gid_range, {100000, 2000000}},

        %% ===================================================================
        %% PREFETCHING
        %% ===================================================================

        %% Sync requests which are smaller will be extended to 4MB
        {minimal_sync_request, 4194304},
        %% Synchronization of byte 0, 50MB, 100MB etc. will trigger prefetching
        {trigger_byte, 52428800},
        %% Amount of data to prefetch at once
        {prefetch_size, 104857600},

        %% ===================================================================
        %% MONITORING
        %% ===================================================================

        %% Size of worker pool for rrdtool
        {rrdtool_pool_size, 10},
        %% Maximum size of worker pool overflow for rrdtool
        {rrdtool_pool_max_overflow, 10},

        %% ===================================================================
        %% SPACE SYNC WORKER
        %% ===================================================================
        %% Interval between successive check strategies, in seconds
        {check_strategies_interval, 10},
        % Number of workers that will handle storage_sync dir jobs
        {storage_sync_dir_workers_num, 10},
        % Number of workers that will handle storage_sync file jobs
        {storage_sync_file_workers_num, 10},
        % Number of workers that will handle jobs other than import and update
        {generic_strategy_workers_num, 40},
        % Size of batch of files listed during syncing storage
        {dir_batch_size, 100},
        % Number of time slots from which monitoring data is saved
        {storage_sync_histogram_length, 12},

        %% ===================================================================
        %% REPLICATION
        %% ===================================================================
        %% Number of workers that will be responsible for replicating files
        {transfer_workers_num, 50},
        %% Number of workers that will be responsible for replicating files
        {transfer_controllers_num, 10},
        %% Number of workers that will be responsible for replicating files
        {invalidation_workers_num, 10},
        %% Acceptable number of transfer retries per file
        {max_file_transfer_retries_per_file, 5},
        %% Acceptable number of failed file transfers per whole transfer
        %% NOTE: file transfer is considered failed when
        %% max_file_transfer_retries_per_file number is exceeded for given file
        {max_file_transfer_failures_per_transfer, 10},

        %% ===================================================================
        %% GRAPH SYNC
        %% ===================================================================
        %% HTTP path where Graph Sync websocket client should connect
        {graph_sync_path, "/graph_sync/provider"},
        %% Maximum time to wait for response from OZ before returning timeout error.
        {graph_sync_request_timeout, 6000}, % 6 seconds
        %% How often Graph Sync channel is health-checked
        {graph_sync_healthcheck_interval, 4000}, % 5 seconds
        %% Rate of reconnect attempt delay increase for Graph Sync channel.
        {graph_sync_reconnect_backoff_rate, 1.5},
        %% Maximum delay between reconnect attempts for Graph Sync channel.
        {graph_sync_reconnect_max_backoff, 300000}, % 5 minutes

        %% ===================================================================
        %% DBSYNC
        %% ===================================================================

        %% Min size of parallel batch used during changes apply
        {dbsync_changes_apply_min_group_size, 10},
        %% Batch size using during changes broadcasting
        {dbsync_changes_broadcast_batch_size, 100},
        %% Min batch size to spawn handler
        {dbsync_handler_spawn_size, 10},
        %% Max number of changes applied in parallel
        {dbsync_changes_apply_max_size, 500},

        %% ===================================================================
        %% WORKERS
        %% ===================================================================
        {disabled_workers, [monitoring_worker]}
    ]},
    {rtransfer_link, [
        {logdir, "{{platform_log_dir}}"},
        {transfer, [
            %% Port on which rtransfer is available
            {server_port, 6665},
            %% Number of parallel rtransfer streams between providers
            {data_conns_per_link, 60},
            %% Max byte size of a single transferred block (bigger blocks will be split)
            {block_size, 26240000},
            %% Byte size of socket's receive buffer
            {recv_buffer_size, 52428800},
            %% Byte size of socket's send buffer
            {send_buffer_size, 52428800}
        ]},
        {shaper, [
            %% Initial size of byte window for transfers between two storages
            {cubic_initial_window, 104857600}
        ]}
    ]}
].
